
<div class="container ">
	<div class="clearfix"></div>
	<div id="faq" class="row mrg-none mainContainBox mrg-t30 mrg-b30">
		<div class="col-xs-12">
			<h3 class="Mheading">FAQ’s</h3>
		</div>
		<div class="BorderBottom col-xs-12 pdg-none"></div>
		<div class="col-xs-12">
			<div id="accordion" class="faq-wrapper">
				<div class="faqSec1">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>Why should I sign up ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="faqSec2">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>What are the benefits of this portal ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="faqSec1">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>Who approves all payment requests ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="faqSec2">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>How does supplier contact the maker ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="faqSec1">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>Can I contact customer service ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="faqSec2">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
							<label class="faqHead" for="">

								<span>Q.</span>
								<p>How can I create new account ?</p>
								<i class="fa fa-angle-down arrowfaq"></i>
							</label>
						</a>
					</div>
					<div id="collapse6" class="panel-collapse collapse">
						<div class="panel-body">
							<div id="answer1" class="faqHead section">
								<span>A. </span>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>