<app-asnav></app-asnav>
<div class="container">
  <div class="col-md-12">
    <div class="stepwizard ">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="btn bg-primary big-circle radiomrgnl tick radiomrgnl btn-circle " id="first">
            <img class="img-responsive tick" src="assets/images/tick.png">
          </a>
          <h6 class="blu-color" id="p1">Review Cards</h6>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="btn bg-primary radiomrgnr btn-circle " id="second">
            <img class="img-responsive tick2" src="assets/images/tick.png">
          </a>
          <h6 class="blu-color" id="p2">Mobile Verification</h6>
        </div>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 cardfirst">
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 text-center">
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <div class="clear10"></div>
          <img src="assets/images/otpphn2.png" />
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 text-left">
          <h4>Verify your mobile</h4>
          <p class="pfont">We have sent you an OTP, Please enter it below</p>
        </div>
        <div class="clear20"></div>
        <div class="clear20"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-3 text-left padln">
            <input class="inputstyle" type="text">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center padln">
            <input class="inputstyle" type="text">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center padln">
            <input class="inputstyle" type="text">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center padln">
            <input class="inputstyle" type="text">
          </div>
        </div>
        <div class="clear20"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-right">
          <p class="rsotp">Resend OTP ?
          </p>
        </div>
        <div class="clear20"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <a routerLink="../ascardsuccess">
            <button class="btn bg-primary mrtfi nextBtn nxt2 ruleNextBtn mrg0Auto nxtbbgcolor" type="button">Verify</button>
          </a>
        </div>
        <div class="clear20"></div>
        <div class="clear20"></div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">

        <h5 class="blu-color pdlft">
          <a routerLink="../asapprovecard" class="backBtnpay_sup">
            <img src="assets/images/left-arrow.png"> Back </a>
        </h5>

      </div>
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
      <div class="clear20"></div>
    </div>
  </div>
</div>