<app-asnav></app-asnav>
<div class="container" id="lstpaymt">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>
            </div>
            <div class="white-bg">

                <h4 class="col-md-9 col-sm-6 col-xs-6 Top5Heading111 mrgnone">List of Groups</h4>
                <div class="form-group col-md-3 col-xs-6 col-sm-6 top-spac text-right right-spac">
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary btn-outline ResponsiveBtnWidth pull-right">
                        <img src="assets/images/downloadlist.png"> Download List</a>
                </div>

                <div class="clear"></div>

                <div class="BorderBottom"></div>

                <div class="clear"></div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>

                            <tr class="cust-color">

                                <td>
                                   &nbsp;&nbsp;&nbsp;&nbsp; <span class="bold-txtn">Group Name</span> &nbsp;&nbsp;&nbsp;

                                    <div class="btn-group dropdown">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">A</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">B</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">C</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">D</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>
                                        </ul>

                                    </div>

                                </td>

                                <td>
                                    <span class="bold-txtn">Lower Limit</span> &nbsp;&nbsp;&nbsp;
                                    <div class="btn-group dropdown">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">



                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">0</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">100</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">1000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">10000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">20000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                        </ul>

                                    </div>
                                </td>

                                <td>
                                    <span class="bold-txtn">Upper Limit</span> &nbsp;&nbsp;&nbsp;
                                    <div class="btn-group">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">100000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">200000</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">300000</div>
                                                </a>
                                            </li>


                                        </ul>

                                    </div>
                                </td>

                                <td>
                                    <span class="bold-txtn"> Status</span> &nbsp;&nbsp;&nbsp;
                                    <div class="btn-group">

                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                            <span class="sr-only">Toggle Dropdown</span>

                                        </button>

                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">All</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Approved</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Pending</div>
                                                </a>
                                            </li>

                                            <li class="divider"></li>

                                            <li>
                                                <a href="javascript:void(0);">
                                                    <div class="place"></div>
                                                    <div class="txt-div">Rejected</div>
                                                </a>
                                            </li>

                                        </ul>

                                    </div>
                                </td>


                                <td></td>
                            </tr>

                        </thead>
                        <tbody>

                            <tr>

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;A</td>
                                <td>20</td>
                                <td>50</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn appoved" role="button">Approved </a>
                                </td>
                                <td>
                                    <div class="flash equipment showhide">
                                        <span class="showhide">+</span>
                                    </div>
                                </td>
                            </tr>

                            <tr class="rowShow grayStrip">
                                <td colspan="5" class="custmtdn">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-left padlnon">
                                            <label class="ugctxt">Users in Group C</label>
                                            <br>
                                            <label class="lbltxt">Mr. Asheesh Chatterjee</label>
                                            <br>
                                            <label class="lbltxt"> Mr. Gaurav Dattani</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Mahesh Agnihotri</label>
                                            <br>
                                            <label class="lbltxt"> Mrs. Shalaka Pandit</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Jayesh Saksena</label>
                                            <br>
                                            <label class="lbltxt">Mrs. Swati Malhotra</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Sam Andrason</label>
                                            <br>
                                            <label class="lbltxt">Mr. Abhinav Singh</label>
                                            <br>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <tr class="whiteStrip">

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;B</td>

                                <td>10</td>

                                <td>30</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn Rejected" role="button">Rejected </a>
                                </td>
                                <td>
                                    <div class="flash equipment showhide">
                                        <span class="showhide">+</span>
                                    </div>
                                </td>
                            </tr>

                            <tr class="rowShow">
                                <td colspan="5" class="custmtdn">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-left padlnon">
                                            <label class="ugctxt">Users in Group C</label>
                                            <br>
                                            <label class="lbltxt">Mr. Asheesh Chatterjee</label>
                                            <br>
                                            <label class="lbltxt"> Mr. Gaurav Dattani</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Mahesh Agnihotri</label>
                                            <br>
                                            <label class="lbltxt"> Mrs. Shalaka Pandit</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Jayesh Saksena</label>
                                            <br>
                                            <label class="lbltxt">Mrs. Swati Malhotra</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Sam Andrason</label>
                                            <br>
                                            <label class="lbltxt">Mr. Abhinav Singh</label>
                                            <br>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <tr class="">

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;C</td>
                                <td>0</td>
                                <td>40</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn Pending" role="button">Pending </a>
                                </td>
                                <td>
                                    <div class="flash equipment8 showhide">
                                        <span class="showhide">+</span>
                                    </div>
                                </td>
                            </tr>

                            <tr class="rowShow grayStrip">

                                <td colspan="5" class="custmtdn">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-6 padlnon">
                                            <label class="ugctxt">Users in Group C</label>
                                            <br>
                                            <label class="lbltxt">Mr. Asheesh Chatterjee</label>
                                            <br>
                                            <label class="lbltxt"> Mr. Gaurav Dattani</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Mahesh Agnihotri</label>
                                            <br>
                                            <label class="lbltxt"> Mrs. Shalaka Pandit</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Jayesh Saksena</label>
                                            <br>
                                            <label class="lbltxt">Mrs. Swati Malhotra</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Sam Andrason</label>
                                            <br>
                                            <label class="lbltxt">Mr. Abhinav Singh</label>
                                            <br>
                                        </div>
                                    </div>

                                </td>

                            </tr>



                            <tr class="whiteStrip">

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;D</td>
                                <td>0</td>
                                <td>10</td>
                                <td>
                                    <a href="javascript:void(0);" class="btn Pending" role="button">Pending </a>
                                </td>
                                <td>
                                    <div class="flash equipment9 showhide">
                                        <span class="showhide">+</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="rowShow">
                                <td colspan="5" class="custmtdn">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-6 padlnon">
                                            <label class="ugctxt">Users in Group C</label>
                                            <br>
                                            <label class="lbltxt">Mr. Asheesh Chatterjee</label>
                                            <br>
                                            <label class="lbltxt"> Mr. Gaurav Dattani</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Mahesh Agnihotri</label>
                                            <br>
                                            <label class="lbltxt"> Mrs. Shalaka Pandit</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Jayesh Saksena</label>
                                            <br>
                                            <label class="lbltxt">Mrs. Swati Malhotra</label>
                                            <br>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                            <div class="clear20"></div>
                                            <label class="lbltxt">Mr. Sam Andrason</label>
                                            <br>
                                            <label class="lbltxt">Mr. Abhinav Singh</label>
                                            <br>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

           
        </section>
    </div>
</div>
<div class="clear20"></div>
<div class="clear20"></div>