<nav class="[ navbar ][ navbar-bootsnipp animate navbar-fixed-top]" role="navigation">
    <div class="[ container-fluid ]">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="[ navbar-header ]">
            <a class="[ navbar-brand ][ animate ]" href="#">
                <img src="assets/images/logo.png" />
            </a>
            <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="[ sr-only ]">Toggle navigation</span>
                <span class="[ icon-bar ]"></span>
                <span class="[ icon-bar ]"></span>
                <span class="[ icon-bar ]"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
            <ul class="[ nav navbar-nav ] customLeftMargin nav">
                <li class="dash active">
                    <a class="[ animate ]">
                        <i class="nav-ico-menu"> </i>Dashboard</a>
                </li>
                <li class="activlink">
                    <a routerLink="./../organisation" class="[ animate ]">
                        <i class="nav-ico-menu"></i>Organisation</a>
                </li>
                <li class="menu_sel paylink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Groups </a>
                    <ul class="[ dropdown-menu ]" role="menu">
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/group.png" />
                                </span> View Groups </a>
                        </li>
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/group.png" />
                                </span> Pending Groups </a>
                        </li>
                    </ul>
                </li>
                <li class="menu_sel rulelink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Rules </a>
                    <ul class="[ dropdown-menu ]" role="menu">
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/gavel.png" />
                                </span> Pending Rules </a>
                        </li>
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/gavel.png" />
                                </span> Rules Validator </a>
                        </li>
                    </ul>
                </li>
                <li class="menu_sel supplink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Cards </a>
                    <ul class="[ dropdown-menu ]" role="menu">
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/credit-card.png" />
                                </span> View Cards </a>
                        </li>
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/credit-card.png" />
                                </span> Pending Cards </a>
                        </li>
                    </ul>

                </li>
                <li class="menu_sel paylink2">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Users </a>
                    <ul class="[ dropdown-menu ]" role="menu">
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/person.png" />
                                </span> View User </a>
                        </li>
                        <li class="col-md-6 cust text-center">
                            <a class="[ animate ]">
                                <span>
                                    <img src="assets/images/person.png" />
                                </span> Pending Users </a>
                        </li>
                    </ul>
                </li>
                <li class="rulelink2">
                    <a class="[ animate ]">
                        <i class="nav-ico-menu"></i>Suppliers</a>
                </li>


                <li class="cardlink">
                    <a class="[ animate ]"> Payments</a>
                </li>

            </ul>
            <ul class="[ nav navbar-nav navbar-right ]">

                <li class="menu_sel menu_sell faqlink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">
                        Help
                        <span>
                            <img src="assets/images/forma-1.png" />
                        </span>
                    </a>
                    <ul class="[ dropdown-menu dropdown-menu2 ]" role="menu">
                        <li>
                            <a routerLink="../asfaq" class="[ animate ]"> FAQ'S </a>
                        </li>
                        <li>
                            <a class="[ animate ]"> Download User Guide </a>
                        </li>

                    </ul>
                </li>
                <li class="menu_sel menu_sell quicklink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">
                        Quick Links
                        <span>
                            <img src="assets/images/forma-1.png" />
                        </span>
                    </a>
                    <ul class="[ dropdown-menu dropdown-menu2 ]" role="menu">
                        <li>
                            <a href="" class="[ animate ]"> GSTIN Verification </a>
                        </li>
                        <li>
                            <a href="" class="[ animate ]"> IFSC Verification </a>
                        </li>
                        <li>
                            <a href="" class="[ animate ]"> Card Statement </a>
                        </li>

                    </ul>
                </li>
                <li class="menu_sel notilink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">
                        <span>
                            <img src="assets/images/notification.png" />
                        </span>
                        <span class="badge badge-notify">3</span>
                    </a>
                    <ul class="[ dropdown-menu dropdown-menu3 ]" role="menu">
                        <li>
                            <a class="[ animate ]">
                                <h5>This is dummy text</h5>
                                <p>Lorem is simply dummy text of the printing and</p>
                            </a>
                        </li>
                        <li>
                            <a class="[ animate ]">
                                <h5>This is dummy text</h5>
                                <p>Lorem is simply dummy text of the printing and text of the printing and text of the printing
                                    andtext of the printing andtext of the printing and </p>
                            </a>
                        </li>
                        <li>
                            <a class="[ animate ]">
                                <h5>This is dummy text</h5>
                                <p>Lorem is simply dummy text of the printing and</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="menu_sel profilink">
                    <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">
                        <span class="profile">
                            <img src="assets/images/profile-pic.png" />
                        </span>
                        <span>
                            <img src="assets/images/forma-1.png" />
                        </span>
                    </a>
                    <ul class="[ dropdown-menu dropdown-menu4 ]" role="menu">
                        <li>
                            <a routerLink="../asmyprofile" class="[ animate ]">
                                <p>
                                    <span>
                                        <img src="assets/images/user.png" />&nbsp;&nbsp;&nbsp;
                                    </span> My Profile
                                </p>
                            </a>
                        </li>
                        <li>
                            <a routerLink="../ascontactus" class="[ animate ]">
                                <p>
                                    <span>
                                        <img src="assets/images/contact.png" />&nbsp;&nbsp;&nbsp;
                                    </span> Contact Us
                                </p>
                            </a>
                        </li>
                        <li>
                            <a routerLink="../asnotification" class="[ animate ]">
                                <p>
                                    <span>
                                        <img src="assets/images/alarm-bell.png" />&nbsp;&nbsp;&nbsp;
                                    </span> Notification Settings
                                </p>
                            </a>
                        </li>
                        <li>
                            <a class="[ animate ]">
                                <p>
                                    <span>
                                        <img src="assets/images/logout.png" />&nbsp;&nbsp;&nbsp;
                                    </span> Logout
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>

</nav>