<div class="col-md-6 col-sm-6">
    <h3 class="blu-color">Welcome  {{firstname}}
        <span class="smal-txt"> | {{designation}}, {{orgname}}</span>
    </h3>
    <h5>{{role}}</h5>
    <p class="blu-color">Last Session : 30 Jan 2018 I 12:08 AM</p>
</div>

<div class="col-md-6 col-sm-6 pad-top text-right btninCenter">
    <a routerLink="../addunitarysupplier" class="btn btn-primary btn-outline btn-spac ResponsiveBtnWidth">+ Add Unitary Supplier</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="../addbulksupplier" class="btn btn-primary btn-outline ResponsiveBtnWidth">+ Add Bulk Supplier</a>
</div>
<div class="clear20"></div>