<div class="col-md-6 col-sm-6">
  <h3 class="blu-color">Welcome Narendra Yadav
      <span class="smal-txt"> | CFO, XV Company</span>
  </h3>
  <h5>CORPORATE ADMIN</h5>
  <p class="blu-color">Last Session : 30 Jan 2018 I 12:08 AM</p>
</div>

<div class="col-md-6 col-sm-6 pad-top text-right btninCenter">
  <a routerLink="./../cagroups" class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad addgps">Add Groups</a>
  &nbsp;
  <a routerLink="./../cacreaterule" class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad addruls">Add Rules</a>
  &nbsp;
  <a routerLink="./../caaddunitaryuser" class="btn btn-primary btn-outline btn-spac ResponsiveBtnWidth topbtnpad adduusr"> Add Unitary User</a>
  &nbsp;
  <a routerLink="./../caaddbulkusers" class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad addbusr"> Add Bulk User</a>
  &nbsp;
  <a routerLink="./../caaddcards" class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad addcrd">Add Card</a>
</div>
<div class="clear20"></div>