<app-asnav></app-asnav>
<div class="container">
    <div class="row">
        <div class="clear20"></div>
        <div class="clear20"></div>
        <div class="clear20"></div>
        <div class="clear20"></div>
    </div>
    <div class="row">
        <div class="row setup-content cust_width form_bg" id="step-7">
            <div class="col-md-12 text-center ">
                <img src="assets/images/done.png">
                <div class="clearfix"></div>
                <div class="clear20"></div>
                <label class="successhedtxt">Group has been successfully approved</label>
                <div class="clear20"></div>
                <label class="smrinstatustxt">You can view the summary and status of the request on the groups page </label>
                <div class="col-md-12 col-sm-12 top-spac margin20">
                    <a routerLink="../listpayment" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES">Go to Groups</a>
                    <a href="" class="btn btn-primary btn-outline Btn_Width2">Go to Dashboard</a>
                </div>

            </div>
        </div>
    </div>

</div>