.margnrht{
    margin-right: 20px;

}
.mrgntpminus{
    margin-top: -25px;
}
.uk-card-primaryn{

    width: 90%!important;
}
.highcharts-background{
    height:320px !important;

}
.CardWhiteboxn {
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 3%;
}

.padtbn{
    padding: 0px!important;
}
.marginnon{
margin: 0px!important;
}
.nummrgn{
    margin: 10px 0px 10px 0px!important;
}
.uk-card-primary {
    
    width: 90%!important;
    height: 254px!important;
   
}
.pnpad{
    padding: 0px!important;
}
.nicname{
    font-size: 23px;
    font-weight: 300;
}
.no{
    font-size: 40.2px;
    font-weight: 300;
}
.textsmalln {
    font-size: 13.7px !important;
    font-weight: 300!important;
    color: #b2a8bb !important;
    font-family: 'FuturaLightBT_1';
}
.textsmall1 {
    color: #ffffff !important;
    font-size: 13.7px !important;
    font-weight: 300!important;
    font-family: 'FuturaLightBT_1';
    
}
.textsmall3n {
    font-size: 12.6px !important;
    color: #ffffff !important;
    font-weight: 300!important;
    font-family: 'FuturaLightBT_1';
}
.mrgntxt{
    margin-top: 0px!important;
}
.mrgbot{
    margin-bottom: 0px!important;
}
.clear5 {
    clear: both;
    height: 5px;
}
.CardWhitebox1n h3 {
    padding: 5px 0px 15px 27px!important;
    text-align: left;
}
.tfcard{
    font-size: 18.1px;
  font-weight: 600;
  color: #2c2e30;
}