<div class="clear20"></div>
<div class="clear20"></div>
<div class="col-md-offset-2 col-md-8">
    <div class="col-md-6 bor-right">
        <h4>Supplier Details</h4>
        <div class="clear20"></div>
        <div class="bottom-spac">
            <div class="span_width">Supplier Code:</div>
            <div class="bold_span">124543</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Supplier Name: </div>
            <div class="bold_span">John Smith</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Bank Name:</div>
            <div class="bold_span">State bank of India</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Account No:</div>
            <div class="bold_span">6312 2148 5352 </div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">IFSC :</div>
            <div class="bold_span">SBI00676</div>
        </div>
        <div class="bottom-spac">
            <div class="span_width">Invoice Number:</div>
            <div class="bold_span">14456646</div>
        </div>
    </div>
    <div class="col-md-5 pull-right">
        <h4>Payment Details</h4>
        <div class="clear20"></div>
        <div class="bottom-spac">
            <div class="span_width">Nick Name:</div>
            <div class="bold_span">John</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Card Number : </div>
            <div class="bold_span">xxxxxxxxx9853</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Card Valid up to:</div>
            <div class="bold_span">04/2028</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">GSTIN:</div>
            <div class="bold_span">63745</div>
        </div>

        <div class="bottom-spac">
            <div class="span_width">Amount :</div>
            <div class="bold_span">Rs.63,10,000.00</div>
        </div>
    </div>
</div>