<div class="CardWhitebox CardWhitebox768">
    <h3>Payment Request Status</h3>
    <div class="BorderBottom marginbor"></div>
    <div class="clear"></div>
    <div class="paddingbox">
        <div class="PendingRequest">
            <h2>22000</h2>
        </div>
        <div class="clear"></div>
        <h3>
            <span>Pending Request</span>
        </h3>
        <div class="clear"></div>
        <p>
            Payment for month of
            <app-datepicker></app-datepicker>

        </p>
        <div class="clear10"></div>
        <div class="BorderBottom marginTB"></div>
        <div class="clear"></div>
        <div class="col-md-6 col-sm-6 col-xs-6 AColorGreen AColorGreen1 text-center margin20">
            <h1>07</h1>
            <a href="#">
                <img src="assets/images/Approved.png" />Approved
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 AColorRejected AColorGreen1 text-center margin20">
            <h1>12</h1>
            <a href="#">
                <img src="assets/images/Rejected.png" />Rejected
            </a>
        </div>
        <div class="clear20"></div>
    </div>
</div>