<div class="CardWhitebox CardWhitebox1 CardWhitebox11">
    <h3>You Have 5 Cards</h3>
    <div class="BorderBottom"></div>

    <!--<div class="whitebox whitebox1">-->
    <!--<div class="uk-margin"></div>-->
    <div class="uk-section">
        <div class="owl-carousel owl-theme owl-themecustom">
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="item">
                <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                    <h3 class="uk-card-title">Nick Name</h3>
                    <h1>8462 4692 4941 2294</h1>
                    <p class="textsmall">
                        VALID

                    </p>
                    <p class="textsmall textsmall1">
                        UP TO 09/28

                    </p>
                    <div class="clear10"></div>
                    <p class="textsmall3 textsmall1">Credit Limit</p>
                    <div class="clear10"></div>
                    <div class="col-sm-12 padnone">

                        <!-- example starts here -->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>1.7Cr</span>
                                <span class="rightBarText">2Cr</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col-md-12 col-sm-12 text-center margin20">
        <a routerLink="../makeunitarypayment" class="btn btn-primary btn-outline btn-spac Btn_Width margbtnRES">+ Add Unitary Payment</a>
        &nbsp;&nbsp;&nbsp;
        <a routerLink="../makebulkpayment" class="btn btn-primary btn-outline Btn_Width">+ Add Bulk Payment</a>
    </div>
    <div class="clear10"></div>
</div>
<!--</div>-->