<app-makernavigation></app-makernavigation>
<div class="container">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <!--row -->
                <app-home></app-home>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <app-cardslider></app-cardslider>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <app-paystatus></app-paystatus>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <app-supstatus></app-supstatus>
                </div>
                <div class="clear"></div>
                <!-- bar chart content -->
                <div class="col-md-6">
                    <app-toppayment></app-toppayment>
                </div>
                <!-- bar chart content end-->
                <!-- pie chart content -->
                <div class="col-md-6 ">
                    <app-cardactivity></app-cardactivity>
                </div>
                <!-- pie chart content end-->
            </div>
            <!-- /.row -->
            <!-- second row -->

            <div class="row">

                <div class="col-md-12">
                    <app-lastpayment></app-lastpayment>
                </div>
            </div>
        </section>
    </div>
</div>