<div class="col-md-12 white-bg CardWhitebox padnone">
    <h4 class="col-md-7 col-sm-7 col-xs-12 mrgnone Top5Heading">Card Activity Comparison </h4>
    <div class="form-group col-md-5 col-sm-5 col-xs-12 top-spac padnone marginindatepicker">
        <div class="">
            <div class="lft-div">
                <p>From</p>
            </div>
            <div class="lft-div2">
                <input class="form-control example1 btn-primary btn-outline bolda bolda1 no-bg" type="text" placeholder="20 JAN 10">
            </div>

            <div class="lft-div WidthOfLFTDIV">
                <p>To</p>
            </div>
            <div class="lft-div2">
                <input class="form-control example1 btn-primary btn-outline bolda bolda1 no-bg" type="text" placeholder="20 JUN 10">
            </div>

        </div>

    </div>
    <div class="clear"></div>
    <div class="BorderBottom"></div>

    <div class="clearfix"></div>
    <div class="barChartPadding">
        <div class="col-md-6 col-sm-6">
            <h1 class="pad-top2">1.45 Cr
                <span class="smal-txt2"> Total Spent</span>
            </h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="donut_chart"></div>
        </div>
        <div class="chart-option">
            <a href="#" class="bg-checkbox"></a>
            <span>Card1</span>
            <a href="#" class="bg-checkbox bg-checkbox3"></a>
            <span>Card2</span>
            <a href="#" class="bg-checkbox bg-checkbox2"></a>
            <span>Card3</span>
            <a href="#" class="bg-checkbox bg-checkbox4"></a>
            <span>Card4</span>
            <a href="#" class="bg-checkbox bg-checkbox5"></a>
            <span>Card5</span>
        </div>

    </div>
    <div class="clear"></div>
</div>