<app-makernavigation></app-makernavigation>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container ">
  <section class="content ">
    <div class="col-md-2 col-sm-2 top_back no-show2">
      <h5 class="blu-color">
        <a class="backBtn">
          <img src="assets/images/left-arrow.png"> Back </a>
      </h5>
    </div>
    <div class="col-md-10 col-sm-9">
      <div class="stepwizard ">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a type="button" class="btn bg-primary btn-circle " id="first">
              <img class="img-responsive tick" src="assets/images/tick.png">
            </a>
            <h6 class="blu-color" id="p1">Suppliers Details</h6>
          </div>
          <div class="stepwizard-step">
            <a type="button" class="btn bg-default btn-circle " id="second">
              <img class="img-responsive tick" src="assets/images/tick.png">
            </a>
            <h6 id="p2">Review Details</h6>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 top_back no-show">
      <h5 class="blu-color">
        <a href="#" class="backBtn">
          <img src="assets/images/left-arrow.png"> Back </a>
      </h5>
    </div>
    <div class="clearfix"></div>
    <form role="form" class="contact-form ">
      <div class="col-md-12">

        <div class="row setup-content form_bg" id="step-1">
          <div class="col-xs-12">
            <h4>Suppliers Details</h4>
            <div class="BorderBottom"></div>
            <div class="col-md-12 extra_padd">
              <div class="col-md-6 col-sm-6">
                <div class="lft_div">
                  <div class="form-field col x-50">
                    <input type="text"  class="input-text js-input" id="supplier_code" name="supplier_code"  [(ngModel)]="model_1.supplier_code"  required>
                    <label class="label" for="supplier_code">Supplier Code</label>
                  </div>


                  
                  

                  <div class="form-field col x-50">
                    <input type="text" class="input-text js-input"  id="supplier_name" name="supplier_name" [(ngModel)]="model_2.supplier_name" required>
                    <label class="label" for="supplier_name">Supplier Name</label>
                  </div>

                   

                  <!-- add email dynamically -->
                  <div class="form-field col x-50 " >
                    <div class="input-group control-group after-add-more user-input-wrp" id="email_op">
                      <input type="email"  class="input-text js-input" name=" email_supplier1" [(ngModel)]="model_3_1.email_supplier1">
                     
                      <label class="label floating-label"  for="email_supplier1">Supplier Email 1</label>
                      <div class="input-group-btn bordr">
                        <div *ngIf="email_cnt > 3">
                        <button disabled="{{ buttonDisabled }}" class="btn add-more" id="email_supplier1" type="button" (click)="addEmailSupplier1();addEmailSupplier2();addEmailSupplier3();addEmailSupplier4(); myFunction();myFunction2();" >+</button>
                         </div>
                         <div *ngIf="email_cnt < 4">
                            <button  class="btn add-more" id="email_supplier1" type="button" (click)="addEmailSupplier1();addEmailSupplier2();addEmailSupplier3();addEmailSupplier4(); myFunction();myFunction2();" >+</button>
                             </div>

                          
                      </div>
                    </div>
                    <!-- Copy Fields -->
                   
                
  

                      <div  class="form-field  "   >
                      <div class="input-group control-group after-add-more user-input-wrp" *ngIf="email_cnt==2 || email_cnt==4 || email_cnt ==3 ">
                          
                        <input type="email"  class="input-text js-input" name=" email_supplier2" [(ngModel)]="model_3_2.email_supplier2">
                      
                         <div *ngIf="email_cnt==2">  
                           <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt}}</label>
                           </div>
                           <div *ngIf="email_cnt==4">  
                              <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt-2}}</label>
                              </div>
                              <div *ngIf="email_cnt==3">  
                                  <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt-1}}</label>
                                  </div>
                          <div class="input-group-btn bordr">
                            <button class="btn add-more" id="email_supplier2" type="button" (click)="removeEmailSuppliers()" >-</button>
                        
                          </div>
                        </div>
                       
                      
                
                        <div  class="form-field " >
                            <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="email_cnt==3 || email_cnt ==4  ">
                              
                              <input type="email"  class="input-text js-input" name=" email_supplier3" [(ngModel)]="model_3_3.email_supplier3">
                             <div *ngIf="email_cnt==3">
                              <label class="label floating-label"  for="email_supplier3">Supplier Email {{email_cnt}}</label>
                              </div>
                              <div *ngIf="email_cnt==4">
                                  <label class="label floating-label"  for="email_supplier3">Supplier Email {{email_cnt-1}}</label>
                                  </div>
                                  
                                <div class="input-group-btn bordr">
                                  <button class="btn add-more" id="email_supplier3" type="button" (click)="removeEmailSuppliers()" >-</button>
                               
                              
                                </div>
                              </div>
                              </div>

                              
                            <div  class="form-field " >
                                <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="email_cnt==4  ">
                                  
                                  <input type="email"  class="input-text js-input" name=" email_supplier4" [(ngModel)]="model_3_4.email_supplier4">
                                  <div *ngIf="email_cnt==4">
                                  <label class="label floating-label"  for="email_supplier4">Supplier Email {{email_cnt}}</label>
                                  </div>
                                  
                                    <div class="input-group-btn bordr">
                                      <button class="btn add-more" id="email_supplier4" type="button" (click)="removeEmailSuppliers()" >-</button>
                                   
                                      
                                  
                                    </div>
                                  </div>
                                  </div>
                           
                            </div>
              
                            </div>

                      





                  <div class="append " id="new_id">
                  </div>
                  <!-- add email dynamically -->

                  <!-- add email dynamically -->

                  <div class="form-field col x-50">
                    <div class="input-group control-group after-add-more2 user-input-wrp">
                      <input type="text" name="supplier_contact1" class="input-text js-input" [(ngModel)]="model_4_1.supplier_contact1">
                      <label class="label floating-label" for="supplier_contact1">Supplier Contact 1</label>
                      <div class="input-group-btn bordr">
                        <div *ngIf="contact_cnt > 3">
                        <button  disabled="{{contactButton}}" class="btn add-more" id="supplier_contact1" type="button" (click)="addSupplierContact1();addSupplierContact2();addSupplierContact3();addSupplierContact4()">+</button>
                        </div>
                        <div *ngIf="contact_cnt < 4">
                            <button class="btn add-more" id="supplier_contact1" type="button" (click)="addSupplierContact1();addSupplierContact2();addSupplierContact3();addSupplierContact4()">+</button>
                        </div>

                      </div>
                    </div>
                  </div>

              



                 
                  <div  class="form-field  "   >
                      <div class="input-group control-group after-add-more user-input-wrp" *ngIf="contact_cnt==2 || contact_cnt==4 || contact_cnt ==3 ">
                          <input type="email"  class="input-text js-input" name=" contact_supplier2" [(ngModel)]="model_4_2.contact_supplier2">
                         <div *ngIf="contact_cnt==2">  
                           <label class="label floating-label"  for="contact_supplier2">Supplier Contact {{contact_cnt}}</label>
                           </div>
                           <div *ngIf="contact_cnt==4">  
                              <label class="label floating-label"  for="email_supplier2">Supplier Contact {{contact_cnt-2}}</label>
                              </div>
                              <div *ngIf="contact_cnt==3">  
                                  <label class="label floating-label"  for="contact_supplier2">Supplier Contact {{contact_cnt-1}}</label>
                                  </div>
                          <div class="input-group-btn bordr">
                            <button class="btn add-more" id="contact_supplier2" type="button" (click)="removeContactSuppliers()" >-</button>
                                     
                            
                           
                        
                          </div>
                        </div>
                       
                      
                
                        <div  class="form-field " >
                            <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="contact_cnt==3 || contact_cnt ==4  ">
                              
                              <input type="email"  class="input-text js-input" name=" contact_supplier3" [(ngModel)]="model_4_3.contact_supplier3">
                             <div *ngIf="contact_cnt==3">
                              <label class="label floating-label"  for="contact_supplier3">Supplier Contact {{contact_cnt}}</label>
                              </div>
                              <div *ngIf="contact_cnt==4">
                                  <label class="label floating-label"  for="contact_supplier3">Supplier Contact {{contact_cnt-1}}</label>
                                  </div>
                                  
                                <div class="input-group-btn bordr">
                                  <button class="btn add-more" id="contact_supplier3" type="button" (click)="removeContactSuppliers()" >-</button>
                               
                              
                                </div>
                              </div>
                              </div>

                              
                            <div  class="form-field " >
                                <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="contact_cnt==4  ">
                                  
                                  <input type="email"  class="input-text js-input" name=" contact_supplier4" [(ngModel)]="model_4_4.contact_supplier4">
                                  <div *ngIf="contact_cnt==4">
                                  <label class="label floating-label"  for="contact_supplier4">Supplier Contact {{contact_cnt}}</label>
                                  </div>
                                  
                                    <div class="input-group-btn bordr">
                                      <button class="btn add-more" id="contact_supplier4" type="button" (click)="removeContactSuppliers()" >-</button>
                                   
                                      
                                  
                                    </div>
                                  </div>
                                  </div>
                           
                            </div>
              
                            





                  <div class="append_sup" id="new_id_sup">
                  </div>

                  <!-- add email dynamically -->

                  <div class="radio radio-primary np-padd">
                    <strong> Do you need payment advice ?</strong>
                  </div>
                  <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1">
                      Yes
                    </label>
                  </div>

                  <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2">
                      No
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="rgt_div">
                  <div class="form-field col x-50">
                    <input id="account_no" class="input-text js-input" type="text" [(ngModel)]="model_5. account_no" required>
                    <label class="label" for="account_no">Account Number</label>
                  </div>

                  <div class="form-field col x-50">
                    <input id="ifsc" class="input-text js-input" type="text" [(ngModel)]="model_6.ifsc" required>
                    <label class="label" for="ifsc">IFSC</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="bank_name" class="input-text js-input" type="text"  [(ngModel)]="model_7.bank_name" required>
                    <label class="label" for="bank_name">Bank Name</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="branch_name" class="input-text js-input" type="text" [(ngModel)]="model_8.branch_name" required>
                    <label class="label" for="branch_name">Branch Name</label>
                  </div>

                  <app-fileupload></app-fileupload>

                </div>

              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="form-field col x-50">
                  <button class="btn bg-primary nextBtn nxt2" type="button" (click)="addSupplierCode();   addSupplier_name();  addAccountNo(); addIfsc();addBankName();addBranchName();">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row setup-content form_bg" id="step-2">
          <div class="col-xs-12">
            <h4>Review Suppliers Details</h4>
            <div class="BorderBottom"></div>
            <div class="col-md-12 extra_padd">
              <div class="col-md-6 col-sm-6">
                <div class="lft_div">
                  <div class="form-field col x-50">
                    <input id="name" class="input-text js-input" type="text" required>
                    <label class="label" for="name">Supplier Code</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="email" class="input-text js-input" type="text" required>
                    <label class="label" for="email">Supplier Name</label>
                  </div>
                  <!-- add email dynamically -->
                  <div class="form-field col x-50">
                    <div class="input-group control-group after-add-more3">
                      <input type="email" name="addmore[]" class="input-text">
                      <label class="label" for="email">Supplier Email</label>
                      <div class="input-group-btn bordr" id="flip">
                        <label class="label label-sup" for="email">Showing all</label>
                        <button class="btn add-more" type="button">
                          <img class="fun-img" id="magic-toggle" src="assets/images/list-icon.png">
                        </button>
                      </div>
                    </div>
                    <!-- Copy Fields -->
                    <div class="gayb" id="panel">
                      <div class="form-field col x-50">
                        <input id="email" class="input-text bold-holder" type="text" placeholder="join@xyz.com" required>
                      </div>
                      <div class="form-field col x-50">
                        <input id="email" class="input-text bold-holder" type="text" placeholder="meenali@xyz.com" required>
                      </div>
                      <div class="form-field col x-50">
                        <input id="email" class="input-text bold-holder" type="text" placeholder="satish@xyz.com" required>
                      </div>
                    </div>
                  </div>
                  <!-- add email dynamically -->

                  <!-- add email dynamically -->
                  <div class="form-field col x-50">
                    <div class="input-group control-group after-add-more3">
                      <input type="email" name="addmore[]" class="input-text">
                      <label class="label" for="email">Supplier Contact</label>
                      <div class="input-group-btn bordr" id="flip-sup">
                        <label class="label label-sup" for="email">Showing 1/2</label>
                        <button class="btn add-more" type="button">
                          <img class="fun-img_sup" id="magic-toggle_sup" src="assets/images/list-icon.png">
                        </button>
                      </div>
                    </div>
                    <!-- Copy Fields -->
                    <div class="gayb" id="panel-sup">
                      <div class="form-field col x-50">
                        <input id="email_count" class="input-text bold-holder" type="number" placeholder="7849367203" required>
                      </div>

                    </div>
                  </div>
                  <!-- add email dynamically -->
                  <div class="form-field col x-50">
                    <input id="name" class="input-text js-input" type="text" required>
                    <label class="label" for="name">Payment Advice</label>
                  </div>
                  <div class="form-field col x-50">
                    <h4>Select Approver</h4>
                  </div>
                  <div class="form-field col x-50">
                    <div class="input-group control-group input-group2 after-add-moree">
                      <select class="input-text">
                        <option>Sample Checker 2</option>
                      </select>
                      <div class="btn-group dropdown approbtn">

                        <button type="button" class="btn dropdown-toggle caret5" data-toggle="dropdown">

                          <span class="sr-only">Toggle Dropdown</span>

                        </button>

                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">

                          <li>
                            <input class="form-control search " value="search" name="search" type="text">
                          </li>

                          <li>
                            <a href="javascript:void(0);">
                              <div class="place"></div>
                              <div class="txt-div">Select All</div>
                            </a>
                          </li>


                          <li>
                            <a href="javascript:void(0);">
                              <div class="place"></div>
                              <div class="txt-div">Sample Checker 1</div>
                            </a>
                          </li>


                          <li>
                            <a href="javascript:void(0);">
                              <div class="place"></div>
                              <div class="txt-div">Sample Checker 2</div>
                            </a>
                          </li>


                          <li>
                            <a href="javascript:void(0);">
                              <div class="place"></div>
                              <div class="txt-div">Sample Checker 3</div>
                            </a>
                          </li>


                          <li>
                            <a href="javascript:void(0);">
                              <div class="place"></div>
                              <div class="txt-div">Sample Checker 4</div>
                            </a>
                          </li>



                        </ul>

                      </div>
                      <div class="input-group top-spac">
                        <label class="label label-cust" for="email">Add Approver</label>
                        <button class=" add-moree" type="button">+</button>
                      </div>
                    </div>
                    <!-- Copy Fields -->
                    <div class="copyy hide">
                      <div class="control-group input-group2 input-group" style="margin-top:10px">
                        <select class="input-text">
                          <option>Sample Checker 2</option>
                        </select>
                        <div class="btn-group dropdown approbtn">

                          <button type="button" class="btn dropdown-toggle caret5" data-toggle="dropdown">

                            <span class="sr-only">Toggle Dropdown</span>

                          </button>

                          <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">

                            <li>
                              <input class="form-control search " value="search" name="search" type="text">
                            </li>

                            <li>
                              <a href="javascript:void(0);">
                                <div class="place"></div>
                                <div class="txt-div">Select All</div>
                              </a>
                            </li>


                            <li>
                              <a href="javascript:void(0);">
                                <div class="place"></div>
                                <div class="txt-div">Sample Checker 1</div>
                              </a>
                            </li>


                            <li>
                              <a href="javascript:void(0);">
                                <div class="place"></div>
                                <div class="txt-div">Sample Checker 2</div>
                              </a>
                            </li>


                            <li>
                              <a href="javascript:void(0);">
                                <div class="place"></div>
                                <div class="txt-div">Sample Checker 3</div>
                              </a>
                            </li>


                            <li>
                              <a href="javascript:void(0);">
                                <div class="place"></div>
                                <div class="txt-div">Sample Checker 4</div>
                              </a>
                            </li>



                          </ul>

                        </div>
                        <div class="input-group input-group2 control-group top-spac">
                          <label class="label label-cust" for="email">Remove Approver</label>
                          <button class=" remove" type="button"> -</button>
                        
                        </div>

                        


                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="rgt_div">
                  <div class="form-field col x-50">
                    <input id="name" class="input-text js-input" type="text" required>
                    <label class="label" for="name">Account Number</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="email" class="input-text js-input" type="text" required>
                    <label class="label" for="email">IFSC</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="name" class="input-text js-input" type="text" required>
                    <label class="label" for="name">Bank Name</label>
                  </div>
                  <div class="form-field col x-50">
                    <input id="email" class="input-text js-input" type="text" required>
                    <label class="label" for="email">Branch Name</label>
                  </div>

                </div>

              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="form-field col x-50">
                  <button class="btn bg-primary approval nxt2" type="button">Send for approval</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row setup-content cust_width form_bg" id="step-3">
          <div class="col-md-12 text-center ">
            <img src="assets/images/done.png">
            <h4>Supplier has been successfully added and sent for approval</h4>
            <h5>You can view the summary and status of the request on the supplier page</h5>
            <div class="col-md-12 col-sm-12 top-spac margin20">
              <a routerLink="../supplierlist" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES">Go to Supplier</a>
              <a routerLink="../dashboard" class="btn btn-primary btn-outline Btn_Width2">Go to Dashboard</a>

            </div>

          </div>
        </div>
      </div>
    </form>
  </section>
</div>