<app-makernavigation></app-makernavigation>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container ">
  <section class="content ">
    <div class="col-md-2 col-sm-2 top_back no-show2">
      <h5 class="blu-color">
        <a class="backBtn">
          <img src="assets/images/left-arrow.png"> Back </a>
      </h5>
    </div>
    <div class="col-md-10 col-sm-9">
      <div class="stepwizard ">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a type="button" class="btn bg-primary btn-circle " id="first">
              <img class="img-responsive tick" src="assets/images/tick.png">
            </a>
            <h6 class="blu-color" id="p1">Suppliers Details</h6>
          </div>
          <div class="stepwizard-step">
            <a type="button" class="btn bg-default btn-circle " id="second">
              <img class="img-responsive tick" src="assets/images/tick.png">
            </a>
            <h6 id="p2">Review Details</h6>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 top_back no-show">
      <h5 class="blu-color">
        <a href="#" class="backBtn">
          <img src="assets/images/left-arrow.png"> Back </a>
      </h5>
    </div>
    <div class="clearfix"></div>
    <form role="form" class="contact-form " #personalForm="ngForm" novalidate>
      <div class="col-md-12">

        <div class="row setup-content form_bg">
          <div class="col-xs-12">
            <h4>Suppliers Details</h4>
            <div class="BorderBottom"></div>
            <div class="col-md-12 extra_padd">
              <div class="col-md-6 col-sm-6">
                <div class="lft_div">
                  <div class="form-field col x-50">
                    <input type="text"  #vendorcode ="ngModel" class="input-text js-input"  id="vendorcode" name="vendorcode" type="text"  [(ngModel)]="personal.vendorcode"  required>
                    
                    <label class="label" for="vendorcode">Supplier Code*</label>
                    
                  </div>
                  <div *ngIf="vendorcode.invalid && (vendorcode.dirty || vendorcode.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="vendorcode.errors.required">
                  Supplier code  is required.
                </div>
                </div>


                  <div class="form-field col x-50">
                      <input type="text" #name="ngModel" class="input-text js-input"  id="name" name="name" [(ngModel)]="personal.name" required>
                      <label class="label" for="name">Supplier Name*</label>
                    </div>
                    
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="name.errors.required">
                  Supplier Name  is required.
                </div>
                </div>

                  <div class="form-field col x-50 " >
                        <div class="input-group control-group after-add-more user-input-wrp" id="email_op">
                          <input type="email" #email="ngModel" id="email" class="input-text js-input" name="email" [(ngModel)]="personal.email" pattern="[^ @]*@[^ @]*" size="30" title="Must be a globex.com email address"  required>
                          
                          <label class="label floating-label"  for="email_supplier1">Supplier Email 1*</label>

                          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"> 
                              Please enter valid email address             
                              <div *ngIf="email.errors.required">
                              Email  is required.
                              </div>
                              </div>


                          <div class="input-group-btn bordr">
                            <div *ngIf="email_cnt > 3">
                            <button class="btn add-more" id="email" type="button" (click)="addEmailSupplier1();addEmailSupplier2();addEmailSupplier3();addEmailSupplier4(); myFunction();myFunction2();" >+</button>
                             </div>
                             <div *ngIf="email_cnt < 4">
                                <button  class="btn add-more" id="email" type="button" (click)="addEmailSupplier1();addEmailSupplier2();addEmailSupplier3();addEmailSupplier4(); myFunction();myFunction2();" >+</button>
                                 </div>
    
                              
                          </div>
                        </div>
                        <!-- Copy Fields -->
                       
                    
      
    
                          <div  class="form-field ">
                          <div class="input-group control-group after-add-more user-input-wrp" *ngIf="email_cnt==2 || email_cnt==4 || email_cnt ==3 ">
                              
                            <input type="email"  #email1="ngModel" class="input-text js-input" name="email1" [(ngModel)]="personal.email1">
                          
                             <div *ngIf="email_cnt==2">  
                               <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt}}</label>
                               </div>
                               <div *ngIf="email_cnt==4">  
                                  <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt-2}}</label>
                                  </div>
                                  <div *ngIf="email_cnt==3">  
                                      <label class="label floating-label"  for="email_supplier2">Supplier Email {{email_cnt-1}}</label>
                                      </div>
                              <div class="input-group-btn bordr">
                                <button class="btn add-more" id="email1" type="button" (click)="removeEmailSuppliers()" >-</button>
                            
                              </div>
                            </div>
                           
                          
                    
                            <div  class="form-field " >
                                <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="email_cnt==3 || email_cnt ==4  ">
                                  
                                  <input type="email" #email2="ngModel"  class="input-text js-input" name="email2" [(ngModel)]="personal.email2">
                                 <div *ngIf="email_cnt==3">
                                  <label class="label floating-label"  for="email_supplier3">Supplier Email {{email_cnt}}</label>
                                  </div>
                                  <div *ngIf="email_cnt==4">
                                      <label class="label floating-label"  for="email_supplier3">Supplier Email {{email_cnt-1}}</label>
                                      </div>
                                      
                                    <div class="input-group-btn bordr">
                                      <button class="btn add-more" id="email1" type="button" (click)="removeEmailSuppliers()" >-</button>
                                   
                                  
                                    </div>
                                  </div>
                                  </div>
    
                                 
                                <div  class="form-field " >
                                    <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="email_cnt==4  ">
                                      
                                      <input type="email" #email3="ngModel" class="input-text js-input" name="email3" [(ngModel)]="personal.email3">
                                      <div *ngIf="email_cnt==4">
                                      <label class="label floating-label"  for="email_supplier4">Supplier Email {{email_cnt}}</label>
                                      </div>
                                      
                                        <div class="input-group-btn bordr">
                                          <button class="btn add-more" id="email3" type="button" (click)="removeEmailSuppliers()" >-</button>

                                        </div>
                                      </div>
                                      </div>
                               
                                </div>
                                
                                </div>
                                
                
                        

                      





                  <div class="append " id="new_id">
                  </div>
                  <!-- add email dynamically -->

                  <!-- add email dynamically -->

                  <div class="form-field col x-50">
                        <div class="input-group control-group after-add-more2 user-input-wrp">
                          <input type="text" #contact="ngModel" name="contact" class="input-text js-input" [(ngModel)]="personal.contact" pattern="^\d{4}\d{3}\d{3}$" required>
                          <label class="label floating-label" for="supplier_contact1">Supplier Contact 1*</label>

                          <div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger"> 
                              Please enter valid Contact Number (format: xxxx-xxx-xxxx)            
                              <div *ngIf="contact.errors.required">
                                contact  is required.
                              </div>
                              </div>
                          <div class="input-group-btn bordr">
                            <div *ngIf="contact_cnt > 3">
                            <button  disabled="{{contactButton}}" class="btn add-more" id="supplier_contact1" type="button" (click)="addSupplierContact1();addSupplierContact2();addSupplierContact3();addSupplierContact4()">+</button>
                            </div>
                            <div *ngIf="contact_cnt < 4">
                                <button class="btn add-more" id="supplier_contact1" type="button" (click)="addSupplierContact1();addSupplierContact2();addSupplierContact3();addSupplierContact4()">+</button>
                            </div>
    
                          </div>
                        </div>
                      </div>

              



                 
                  <div  class="form-field">
                      <div class="input-group control-group after-add-more user-input-wrp" *ngIf="contact_cnt==2 || contact_cnt==4 || contact_cnt ==3 ">
                          <input type="email" #contact1="ngModel" class="input-text js-input" name="contact1" [(ngModel)]="personal.contact1">
                         <div *ngIf="contact_cnt==2">  
                           <label class="label floating-label"  for="contact_supplier2">Supplier Contact {{contact_cnt}}</label>
                           </div>
                           <div *ngIf="contact_cnt==4">  
                              <label class="label floating-label"  for="email_supplier2">Supplier Contact {{contact_cnt-2}}</label>
                              </div>
                              <div *ngIf="contact_cnt==3">  
                                  <label class="label floating-label"  for="contact_supplier2">Supplier Contact {{contact_cnt-1}}</label>
                                  </div>
                          <div class="input-group-btn bordr">
                            <button class="btn add-more" id="contact1" type="button" (click)="removeContactSuppliers()" >-</button>
                                     
                            
                           
                        
                          </div>
                        </div>
                       
                      
                
                        <div  class="form-field " >
                            <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="contact_cnt==3 || contact_cnt ==4  ">
                              
                              <input type="email"  #contact2="ngModel" class="input-text js-input" name="contact2" [(ngModel)]="personal.contact2">
                             <div *ngIf="contact_cnt==3">
                              <label class="label floating-label"  for="contact_supplier3">Supplier Contact {{contact_cnt}}</label>
                              </div>
                              <div *ngIf="contact_cnt==4">
                                  <label class="label floating-label"  for="contact_supplier3">Supplier Contact {{contact_cnt-1}}</label>
                                  </div>
                                  
                                <div class="input-group-btn bordr">
                                  <button class="btn add-more" id="contact2" type="button" (click)="removeContactSuppliers()" >-</button>
                               
                              
                                </div>
                              </div>
                              </div>
                              

                              
                            <div  class="form-field " >
                                <div class="input-group control-group after-add-more user-input-wrp" id="email_op"  *ngIf="contact_cnt==4  ">
                                  
                                  <input type="email" #contact3="ngModel"  class="input-text js-input" name="contact3" [(ngModel)]="personal.contact3">
                                  <div *ngIf="contact_cnt==4">
                                  <label class="label floating-label"  for="contact_supplier4">Supplier Contact {{contact_cnt}}</label>
                                  </div>
                                  
                                    <div class="input-group-btn bordr">
                                      <button class="btn add-more" id="contact3" type="button" (click)="removeContactSuppliers()" >-</button>
                                   
                                      
                                  
                                    </div>
                                  </div>
                                  </div>
                           
                            </div>
                            
              
                            





                  <div class="append_sup" id="new_id_sup">
                  </div>

                  <!-- add email dynamically -->

                  <div class="radio radio-primary np-padd">
                    <strong> Do you need payment advice ?*</strong>
                  </div>
                  <div class="form-field col x-50">
                  <label class="radio-inline">
                    <input  type="radio" value="Yes" name="notification"   id="radio1" [(ngModel)]="personal.notification">Yes
                    
                </label>
                <label class="radio-inline">
                    <input type="radio" id="radio1" value="No" name="notification" [(ngModel)]="personal.notification" >No
                </label>
                </div>
               
                  <!-- <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1">
                      Yes
                    </label>
                  </div> -->

                  <!-- <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2">
                      No
                    </label>
                  </div> -->
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="rgt_div">
                  <div class="form-field col x-50">
                    <input id="accno" #accno="ngModel" name="accno" class="input-text js-input" type="text" [(ngModel)]="personal.accno" required>
                    <label class="label" for="account_no">Account Number*</label>
                  </div>
                  <div *ngIf="accno.invalid && (accno.dirty || accno.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="accno.errors.required">
                  Account Number is required.
                </div>
                </div>




                  <div class="form-field col x-50">
                    <input id="ifsc" #ifsc="ngModel" class="input-text js-input" type="text" name="ifsc" [(ngModel)]="personal.ifsc" required>
                    <label class="label" for="ifsc">IFSC*</label>
                  </div>
                  <!-- <div class="alert alert-danger" [hidden]="ifsc.valid">IFSC is required</div> -->
                  <div *ngIf="ifsc.invalid && (ifsc.dirty || ifsc.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="ifsc.errors.required">
                  ifsc  is required.
                </div>
                </div>
                  <div class="form-field col x-50">
                    <input id="bank" #bank="ngModel" class="input-text js-input" type="text" name="bank" [(ngModel)]="personal.bank" required>
                    <label class="label" for="bank">Bank Name*</label>
                  </div>
                  <!-- <div class="alert alert-danger" [hidden]="bank.valid">Bank Name is required</div> -->
                  <div *ngIf="bank.invalid && (bank.dirty || bank.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="bank.errors.required">
                  Bank  is required.
                </div>
                </div>
                  <div class="form-field col x-50">
                    <input id="branch" #branch="ngModel" name="branch" class="input-text js-input" type="text" [(ngModel)]="personal.branch" required>
                    <label class="label" for="branch">Branch Name*</label>
                  </div>
                  <!-- <div class="alert alert-danger" [hidden]="branch.valid">Branch Name is required</div> -->
                  <div *ngIf="branch.invalid && (branch.dirty || branch.touched)"
                  class="alert alert-danger">
              
                <div *ngIf="branch.errors.required">
                  Branch Name  is required.
                </div>
                </div>
                  <app-fileupload></app-fileupload>

                  <div class="checkerlist">
                    <select  id="selectcheckertemp" name="selectcheckertemp" #selectcheckertemp="ngModel" [(ngModel)]="personal.selectcheckertemp" class="selectpicker" multiple required>
                      <option *ngFor="let user of checkers" [value]="user.id"> {{user.firstname + ' ' + user.lastname}}</option>>
                        </select>
                    </div>

                </div>

              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="form-field col x-50">
                  <button class="btn bg-primary nextBtn nxt2" type="button" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </form>
  </section>
</div>