
<div class="container ">
	<div class="clearfix"></div>
	<div id="Contact" class="row mrg-none mrg-t30 mrg-b30">
		<div class="col-xs-12 ContactHead mrg-b30">
			<span class="contactTitle">Contact Us</span>
			<span class="contactHelp">
				<i class="fa fa-phone phoneIcon"></i> Helpline : 022 2425 2525</span>
		</div>
		<div class="row mrg-none">
			<div class="col-xs-12 col-md-5 profileBox mrg-b30">
				<div class="col-xs-12 profileBox1">
					<div class="mainContainBox row mrg-none profInner">
						<div class="profImg mrg0Auto">
							<i class="fa fa-user-o"></i>
						</div>
						<div class="col-xs-12 profInner1">
							<p class="ProfTitle">Anish Mehta</p>
							<p class="ProfSub1">Relationship Manager, Axis Bank</p>
							<p class="ProfSub2">Speciality Business Centre, Lower Ground Floor, S. No-3, ADJ MAIN -100, DP Road, Balewadi, Pune, Maharashtra 411045</p>
							<p class="ProfSub3">
								<span class="ProfSub3-1">
									<i class="fa fa-phone"></i> 1860 419 5555</span>
								<span class="ProfSub3-2">
									<i class="fa fa-envelope-o"></i> anishmehta@axisbank.com</span>
							</p>
						</div>
					</div>
				</div>
				<div id="profileBox2" class="col-xs-12 mrg-t30 profileBox2">
					<div class="mainContainBox row mrg-none">
						<div class="col-xs-12">
							<h4 class="col-md-9 col-sm-6 Top5Heading111">Comprehensive Notice Board</h4>
							<div class="form-group col-md-3 col-sm-6 top-spac text-right ">
								<a href="#" class="btn btn-primary btn-outline viewBtn " role="button">View All </a>
							</div>
						</div>
						<div class="BorderBottom col-xs-12 pdg-none"></div>
						<div class="col-xs-12 prof2Inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
								.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="mapBox" class="col-xs-12 col-md-7 pdg-none">
				<div class="mainContainBox row mrg-none">
					<div class="col-xs-12">
						<h4 class="col-md-12 Top5Heading111">Nearby Offices</h4>
					</div>
					<div class="BorderBottom col-xs-12 pdg-none"></div>
					<div class="col-xs-12 mainMapBox">
						<p class="mainMapB1">
							<i class="fa fa-map-marker"></i> AXIS Bank
						</p>
						<p class="mainMapB2 col-xs-12 pdg-none">
							<span class="mainMapB2-1 col-md-9 col-sm-6 col-xs-12">
								Speciality Business Centre, Lower Ground Floor, S. No-3, ADJ MAIN -100, DP Road, Balewadi, Pune, Maharashtra 411045
							</span>
							<span class="mainMapB2-2 col-md-3 col-sm-6 col-xs-12">
								<i class="fa fa-phone"></i> 1860 419 5555</span>
						</p>
						<div class="BorderBottom mrg-t10"></div>
					</div>
					<div class="col-xs-12 mainMapBox">
						<p class="mainMapB1">
							<i class="fa fa-map-marker"></i> AXIS Bank
						</p>
						<p class="mainMapB2 col-xs-12 pdg-none">
							<span class="mainMapB2-1 col-md-9 col-sm-6 col-xs-12">
								Speciality Business Centre, Lower Ground Floor, S. No-3, ADJ MAIN -100, DP Road, Balewadi, Pune, Maharashtra 411045
							</span>
							<span class="mainMapB2-2 col-md-3 col-sm-6 col-xs-12">
								<i class="fa fa-phone"></i> 1860 419 5555</span>
						</p>
						<div class="BorderBottom mrg-t10"></div>
					</div>
					<div class="col-xs-12 mainMapBox">
						<p class="mainMapB1">
							<i class="fa fa-map-marker"></i> AXIS Bank
						</p>
						<p class="mainMapB2 col-xs-12 pdg-none">
							<span class="mainMapB2-1 col-md-9 col-sm-6 col-xs-12">
								Speciality Business Centre, Lower Ground Floor, S. No-3, ADJ MAIN -100, DP Road, Balewadi, Pune, Maharashtra 411045
							</span>
							<span class="mainMapB2-2 col-md-3 col-sm-6 col-xs-12">
								<i class="fa fa-phone"></i> 1860 419 5555</span>
						</p>
						<div class="BorderBottom mrg-t10"></div>
					</div>
					<div class="col-xs-12 mapIframe mrg-b10 mrg-t10">
						<div style="width: 100%">
							<iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;coord=18.556666,73.79454340000007&amp;q=Axis%20Bank%2C%20Riviresa%20Society%2C%20Baner%2C%20Pune%2C%20Maharashtra%2C%20India+(Axis%20Bank)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"
							 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="ContactFooter" class="col-xs-12">
			<div class="col-xs-12 mainContainBox">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a class="FooCopy1">Complaints and Grievance Redressal</a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="wrp">
						<a class="icon icon-instagram" href="#">
							<i class="fa fa-instagram"></i>
						</a>
						<a class="icon icon-facebook" href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="icon icon-twitter" href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="icon icon-twitter" href="#">
							<i class="fa fa-youtube"></i>
						</a>
						<a class="icon icon-gplus" href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>