<app-canavigation></app-canavigation>
<div class="container xyz" id="lstpaymt">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div _ngcontent-c4="" class="clear20"></div>

        <div _ngcontent-c4="" class="clear20"></div>

        <div _ngcontent-c4="" class="clear20"></div>
      </div>
      <div class="white-bg">

        <h4 class="col-md-9 col-sm-6 col-xs-6 toptxt Top5Heading111 mrgnone">Fill the card details</h4>


        <div class="clear"></div>

        <div class="BorderBottom"></div>

        <div class="clear"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 divmrgnlft">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="clear20"> </div>
              <div class="clear20"></div>
              <div class="clear20"> </div>
              <p class="paracolor">Card Number</p>
              <div class="col-xs-8 col-sm-8 col-md-8 padln">
                <div class="col-xs-3 col-sm-3 col-md-3 padln">
                  <div id="par1" class=" divwidth text-left padln ">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class=" divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 padln">
                  <div id="par1" class=" divwidth text-left padln ">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class=" divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 padln">
                  <div id="par1" class=" divwidth text-left padln ">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class=" divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 padln">
                  <div id="par1" class=" divwidth text-left padln ">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class=" divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div id="par1" class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                  <div class="divwidth text-center padln">
                    <input class="inputstyledot" type="text" maxlength="1">
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="clear20"></div>
              <div class="clear20"></div>



              <div class="contact-form col-xs-12 col-sm-10 col-md-10  padln">

                <input id="name" class="input-text js-input inptxt" type="text" required>
                <label class="label labpos" for="name">Card Holder Name</label>

              </div>


              <div class="clearfix"></div>
              <div class="clear20"></div>
              <div class="clear20"></div>
              <div class="col-xs-10 col-sm-10 col-md-10 padln">
                <div class="">
                  <input class=" example2 inputstyle inpstyle calpos" type="text" placeholder="Expiry Date">

                </div>
              </div>
              <div class="clearfix"></div>
              <div class="clear20"></div>
              <div class="clear20"></div>
              <div class="clear20"></div>
              <div class="clear20"></div>
              <div class="col-md-12 col-sm-12 col-xs-12 padln">

                <button routerLink="../caaddcardsuccessmsg" class="btn bg-primary mrtfi nextBtn btnw verify ruleNextBtn mrg0Auto nxtbbgcolor submit"
                  type="button">Submit for approval</button>

              </div>
              <div class="clear100"> </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
          </div>
        </div>

      </div>



    </section>
  </div>
</div>