.paracolor{
    color: #52178b;
}
.divpaddr{
    padding-right: 33px;
}
.divmrgnlft{
    margin-left: 4%;
}
.divwidth{
    width: 15%;
    display:inline-block;
    vertical-align: top;
    margin:3px;
    align-content: center;
}
.inputstyle{
    border: 0px;
    border-bottom: 1px solid #b7b7b7;
    width: 100%;
    font-size: 13.1px;
    font-weight: 300;
    color: #3f4245;
    }
.calpos{
    position: relative;
}

    .inputstyledot{
        border: 0px;
        border-bottom: 1px solid #58109d;
        width: 100%;
        font-size: 13.1px;
        font-weight: 300;
        color: #3f4245;
        }


    .padln{
        padding-left: 0px!important;
    }

    .example1 {
        cursor:pointer;
        
        
    
    }

.inpstyle{
    cursor:pointer;
    background: url('assets/images/datepicker.png') no-repeat 100% 6px!important;
    padding-bottom: 10px;
}

.toptxt{
    font-size: 17.3px;
    font-weight: 600;
    color: #2c2e30;
}












