
<div class="container" id="lstpaymt">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>

                <div _ngcontent-c4="" class="clear20"></div>
            </div>
            <div class="white-bg">

                <h4 class="col-md-9 col-sm-6 col-xs-6 Top5Heading111 mrgnone">List of Groups</h4>
                <div class="form-group col-md-3 col-xs-6 col-sm-6 top-spac text-right right-spac">
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary btn-outline ResponsiveBtnWidth pull-right">
                        <img src="assets/images/downloadlist.png"> Download List</a>
                </div>

                <div class="clear"></div>

                <div class="BorderBottom"></div>

                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12">
                          <div class="col-md-6">
                                  <p>card number</p>
                          </div>
                          <div class="col-md-6">

                          </div>
                    </div>
                </div>
               
            </div>

           
            
        </section>
    </div>
</div>
<div class="clear20"></div>
<div class="clear20"></div>