<div class="carousel slide media-carousel" id="media">
  <div class="carousel-inner">
    <div class="item  active">

      <div class="sliddiv">
        <a class="thumbnail">Mvp Computers</a>
      </div>
      <div class="sliddiv">
        <a class="thumbnail">Darbar Caterers</a>
      </div>
      <div class="sliddiv">
        <a class="thumbnail">Rendack Enginnering</a>
      </div>
    </div>

    <div class="item ">

      <div class="sliddiv">
        <a class="thumbnail">Bajaj Finance</a>
      </div>
      <div class="sliddiv">
        <a class="thumbnail">Darbar Caterers</a>
      </div>
      <div class="sliddiv">
        <a class="thumbnail">Rendack Enginnering</a>
      </div>
    </div>
  </div>
  <a data-slide="prev" id="prev" href="#media" class="left carousel-control">
    <img src="assets/images/L_arrow.png">
  </a>
  <a data-slide="next" id="next" href="#media" class="right carousel-control">
    <img src="assets/images/slider-left.png">
  </a>
</div>