<app-canavigation></app-canavigation>
<div class="container-fluid abc">

    <div class="row">
        <div class="col-md-12 tab text-center centra">
          <div class="col-md-4"></div>
            <div class="col-md-4">
            <button class="tablinks active" id="mycard">MY CARDS</button>
            <button class="tablinks" id="pendcard">PENDING CARDS</button>
            <button class="tablinks" id="rejctcard">REJECTED CARDS</button>
          </div>
          <div class="col-md-4 text-center bdivtopmrgn">
              <div class="col-md-6"></div>
              <div class="text-center col-sm-6">
                  <a  class="btn btn-primary btn-outline ResponsiveBtnWidth topbtnpad activeapp">+ Add Card</a>
              </div>
          </div>
           
        </div>
        <div class="clear10"></div>
        <div class="clear10"></div>
        <div id="London" class="tabcontent" style="display:block;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-1">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-8 col-xs-6 text-left padnone">
                                <label class="txtl">Total Credit Limit :</label>
                                <label class="txtl">Available Credit :</label>
                                <label class="txtl">Transactions this month :</label>
                            </div>
                            <div class="col-sm-4 col-xs-6 text-right padnone">
                                <label class="rstxt">Rs.468800</label>
                                <br>
                                <label class="rstxt">Rs. 4688</label>
                                <br>
                                <label class="rstxt">80</label>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 col-xs-6 text-left padnone txtl ">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-2">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-8 col-xs-6 text-left padnone">
                                <label class="txtl">Total Credit Limit :</label>
                                <label class="txtl">Available Credit :</label>
                                <label class="txtl">Transactions this month :</label>
                            </div>
                            <div class="col-sm-4 col-xs-6 text-right padnone">
                                <label class="rstxt">Rs.468800</label>
                                <br>
                                <label class="rstxt">Rs. 4688</label>
                                <br>
                                <label class="rstxt">80</label>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 col-xs-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12  card-3">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-8 col-xs-6 text-left padnone">
                                <label class="txtl">Total Credit Limit :</label>
                                <label class="txtl">Available Credit :</label>
                                <label class="txtl">Transactions this month :</label>
                            </div>
                            <div class="col-sm-4 col-xs-6 text-right padnone">
                                <label class="rstxt">Rs.468800</label>
                                <br>
                                <label class="rstxt">Rs. 4688</label>
                                <br>
                                <label class="rstxt">80</label>
                            </div>

                            <div class="clear10"></div>


                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 col-xs-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div id="Paris" class="tabcontent">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-1">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-8 text-left padnone">
                                <label class="txtl">Total Credit Limit :</label>
                                <label class="txtl">Available Credit :</label>
                                <label class="txtl">Transactions this month :</label>
                            </div>
                            <div class="col-sm-4 text-right padnone">
                                <label class="rstxt">Rs.468800</label>
                                <br>
                                <label class="rstxt">Rs. 4688</label>
                                <br>
                                <label class="rstxt">80</label>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-2">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-8 text-left padnone">
                                <label class="txtl">Total Credit Limit :</label>
                                <label class="txtl">Available Credit :</label>
                                <label class="txtl">Transactions this month :</label>
                            </div>
                            <div class="col-sm-4 text-right padnone">
                                <label class="rstxt">Rs.468800</label>
                                <br>
                                <label class="rstxt">Rs. 4688</label>
                                <br>
                                <label class="rstxt">80</label>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div id="Tokyo" class="tabcontent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-1">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 nopad">
                                <label class="rstxt">Comment:</label>
                                <br>
                                <p class="txtl text-justify">
                                    Lorem Ipsum do eiusmod tempor aksh incididunt ut labore et dolore magna
                                </p>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12 card-2">
                            <div class="item bcolor">
                                <div class="uk-card        uk-light fontsize">
                                    <h4 class="uk-card-title hffont">Nick Name</h4>
                                    <h4 class="nofnt">8462 4692 4941 2294</h4>
                                    <p class="textsmall mrgnp">
                                        VALID

                                    </p>
                                    <p class="textsmall mrgnp textsmall1">
                                        UP TO 09/28

                                    </p>
                                    <!--<div class="clear10"></div>-->


                                </div>

                            </div>
                            <div class="clear10"></div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 nopad">
                                <label class="rstxt">Comment:</label>
                                <br>
                                <p class="txtl text-justify">
                                    Lorem Ipsum do eiusmod tempor aksh incididunt ut labore et dolore magna
                                </p>
                            </div>
                            <div class="clear10"></div>

                            <div class="col-sm-12 padnone">
                                <button class="collapsible nopad"></button>
                                <div class="content nopad">

                                    <div class="col-sm-6 text-left padnone">
                                        <label class="txtl">Initiated On :</label>
                                        <label class="txtl">Initiated By :</label>
                                        <label class="txtl">Approved On :</label>
                                        <label class="txtl">Approved By :</label>
                                    </div>
                                    <div class="col-sm-6 text-right padnone">
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Rahul Sharma</label>
                                        <br>
                                        <label class="rstxt">4/2/18</label>
                                        <br>
                                        <label class="rstxt">Raj Varma</label>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>

</div>
<div class="success">
    <app-caaddcards></app-caaddcards>
</div>