<app-canavigation></app-canavigation>
<div class="clear20"></div>
<div _ngcontent-c4="" class="clear20"></div>
<div class="container ">
    <section class="content ">



        <div class="clearfix"></div>
        <form role="form" class="contact-form" id="main1">
            <div class="col-md-12">

                <div class="row setup-content form_bg" id="step-1">
                    <div class="col-xs-12 padlrnone">
                        <h4>Create Rules</h4>
                        <div class="BorderBottom"></div>
                        <div class="col-md-12 extra_padd">
                            <div class="col-md-7 col-sm-12">
                                <div class="">
                                    <div class="clear30"></div>



                                    
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="col-xs-12 col-sm-10 col-md-10 padln">
                                            <input class="inputstyle" type="text" placeholder="Lower Limit : 0">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="col-xs-12 col-sm-10 col-md-10 padln">
                                            <input class="inputstyle" type="text" placeholder="Upper Limit : 1000000000">
                                        </div>
                                    </div>
                            
                                    <div class="col-xs-12 col-sm-10  col-md-10 input_fields_wrap padln custBtnWrap">
                                        <div class="clear20"></div>
                                        <div class="col-xs-12 col-sm-4 col-md-3 padrn">
                                            <p class="sgtxt">Select Groups :</p>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 padln">
                                            <div id="" class="input-group-btn search-panel firstgrp">
                                                    <select name="example_length" aria-controls="example" class=" input-sm bbor groupfont">
                                                            <option value="10">Group A</option>
                                                            <option value="25">Group B</option>
                                                            <option value="50">Group C</option>
                                                            <option value="100">Group D</option>
                                                        </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-xs-2 col-sm-2 col-md-2 ">
                                            <div id="andor" class="input-group-btn search-panel">
                                               
                                                    <select name="example_length" aria-controls="example" class=" input-sm bbor groupfont">
                                                            <option value="10">&</option>
                                                            <option value="25">OR</option>
                                                           
                                                        </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <div id="secondgrp" class="input-group-btn search-panel">
                                                    <select name="example_length" aria-controls="example" class=" input-sm bbor groupfont">
                                                            <option value="10">Group A</option>
                                                            <option value="25">Group B</option>
                                                            <option value="50">Group C</option>
                                                            <option value="100">Group D</option>
                                                        </select>
                                               
                                            </div>
                                        </div>
                                        <div class="col-xs-1 col-sm-1 col-md-1">
                                            <button class="btn add-more" id="add_div0" type="button">+</button>
                                        </div>

                                    </div>
                                    <div class="copyyyy">


                                    </div>
                                    <div class="clear20"></div>

                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="form-field col x-50">
                                            <button class="btn bg-primary nextBtn createrule" type="button">Create Rule</button>
                                        </div>
                                    </div>
                                    <div class="clear20"></div>
                                </div>
                            </div>

                            <div class="col-md-5 col-sm-12">

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-xs-12 col-sm-12 col-md-12 padlrnone" id="step-2">
                                <div class="table-responsive">

                                    <table id="fold-table" class="table table-hover fold-table">

                                        <thead>

                                            <tr class="cust-color">
                                                <td class="tdwidth"></td>
                                                <td>
                                                
                                                    <span class="bold-txtn">Rule category</span> &nbsp;&nbsp;&nbsp;

                                                    <div class="btn-group dropdown">

                                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                                            <span class="sr-only">Toggle Dropdown</span>

                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">A & B</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">A & C</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">B & C</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>
                                                        </ul>

                                                    </div>

                                                </td>

                                                <td>
                                                    <span class="bold-txtn">Lower Limit</span> &nbsp;&nbsp;&nbsp;
                                                    <div class="btn-group dropdown">

                                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                                            <span class="sr-only">Toggle Dropdown</span>

                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right1" role="menu">



                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">0</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">100</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">1000</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">10000</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">20000</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                        </ul>

                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="bold-txtn">Upper Limit</span> &nbsp;&nbsp;&nbsp;
                                                    <div class="btn-group">

                                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                                            <span class="sr-only">Toggle Dropdown</span>

                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">100000</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">200000</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">300000</div>
                                                                </a>
                                                            </li>


                                                        </ul>

                                                    </div>
                                                </td>

                                                <td>
                                                    <span class="bold-txtn"> Status</span> &nbsp;&nbsp;&nbsp;
                                                    <div class="btn-group">

                                                        <button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

                                                            <span class="sr-only">Toggle Dropdown</span>

                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menuu dropdown-menu-right dropdown-menu-right2" role="menu">

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">All</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">Approved</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">Pending</div>
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <div class="place"></div>
                                                                    <div class="txt-div">Rejected</div>
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </td>


                                                <td></td>

                                            </tr>

                                        </thead>

                                        <tbody>

                                            <tr class="view grayStrip">
                                                <td>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div class="place"></div>
                                                </td>
                                                <td>A & B</td>

                                                <td>0</td>

                                                <td>60</td>

                                                <td>
                                                    <a href="javascript:void(0);" class="btn appoved" role="button">Approved </a>
                                                </td>

                                                <td>

                                                    <div class="flash equipment showhide">
                                                        <span class="showhide">+</span>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr class="rowShow">

                                                <td colspan="6">
                                                    <div class="foldInner">
                                                        <div class="foldInner1 foldInnerBox padlnon">
                                                            <h5>Group A (any 1)</h5>
                                                            <ul>
                                                                <li>Mr. Asheesh Chatterjee</li>
                                                                <li>Mr. Gaurav Dattani</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner2 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Mahesh Agnihotri</li>
                                                                <li>Mrs. Shalaka Pandit</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner3 foldInnerBox text-center">
                                                            <h5>Group B (any 2)</h5>
                                                            <ul>
                                                                <li>Mr. Jayesh Saksena</li>
                                                                <li>Mrs. Swati Malhotra</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner4 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Sam Andrason</li>
                                                                <li>Mr. Abhinav Singh</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>


                                            <tr class="view whiteStrip">
                                                <td>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div class="place"></div>
                                                </td>
                                                <td>A & c</td>

                                                <td>0</td>

                                                <td>60</td>

                                                <td>
                                                    <a href="javascript:void(0);" class="btn Rejected" role="button">Rejected </a>
                                                </td>

                                                <td>
                                                    <div class="flash equipment showhide">
                                                        <span class="showhide">+</span>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="rowShow">

                                                <td colspan="6">
                                                    <div class="foldInner">
                                                        <div class="foldInner1 foldInnerBox padlnon">
                                                            <h5>Group A (any 1)</h5>
                                                            <ul>
                                                                <li>Mr. Asheesh Chatterjee</li>
                                                                <li>Mr. Gaurav Dattani</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner2 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Mahesh Agnihotri</li>
                                                                <li>Mrs. Shalaka Pandit</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner3 foldInnerBox text-center">
                                                            <h5>Group B (any 2)</h5>
                                                            <ul>
                                                                <li>Mr. Jayesh Saksena</li>
                                                                <li>Mrs. Swati Malhotra</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner4 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Sam Andrason</li>
                                                                <li>Mr. Abhinav Singh</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="view grayStrip">
                                                <td>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div class="place"></div>
                                                </td>
                                                <td>B & c</td>

                                                <td>0</td>

                                                <td>80</td>

                                                <td>
                                                    <a href="javascript:void(0);" class="btn appoved" role="button">Approved </a>
                                                </td>

                                                <td>
                                                    <div class="flash equipment showhide">
                                                        <span class="showhide">+</span>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr class="rowShow">

                                                <td colspan="6">
                                                    <div class="foldInner">
                                                        <div class="foldInner1 foldInnerBox padlnon">
                                                            <h5>Group A (any 1)</h5>
                                                            <ul>
                                                                <li>Mr. Asheesh Chatterjee</li>
                                                                <li>Mr. Gaurav Dattani</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner2 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Mahesh Agnihotri</li>
                                                                <li>Mrs. Shalaka Pandit</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner3 foldInnerBox text-center">
                                                            <h5>Group B (any 2)</h5>
                                                            <ul>
                                                                <li>Mr. Jayesh Saksena</li>
                                                                <li>Mrs. Swati Malhotra</li>
                                                            </ul>
                                                        </div>
                                                        <div class="foldInner4 foldInnerBox text-center">
                                                            <div class="clear20"></div>
                                                            <ul>
                                                                <li>Mr. Sam Andrason</li>
                                                                <li>Mr. Abhinav Singh</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                                <div class="col-md-12">
                                    
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn bg-primary nextBtn Approve" type="button">Send for Approval</button>
                                    
                                </div>
                                <div class="clear20"></div>
                            </div>

                        </div>
                    </div>
                </div>

               
            </div>
        </form>
        <div class="row setup-content cust_width form_bg" id="step-3">
                <div class="col-md-12 text-center ">
                    <img src="assets/images/done.png">
                    <h4>Rule has been sent for approval</h4>
                    <h5>You can view the summary and status of the request on the rule page </h5>
                    <div class="col-md-12 col-sm-12 top-spac margin20">
                        <a routerLink="../carulevalidation" class="btn btn-primary btn-outline  btn-spac2 Btn_Width2 gtor ">Go to Rules</a>
                        <a routerLink="../cadashboard" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES ">Go to Dashboard</a>

                    </div>

                </div>
            </div>
    </section>
</div>