<app-canavigation></app-canavigation>
<div class="clear20"></div>
<div class="clear20"></div>
<div _ngcontent-c4="" class="clear20"></div>
<div class="container ">
  <section class="content ">



    <div class="clearfix"></div>
    <form role="form" class="contact-form ">
      <div class="col-md-12">

        <div class="row setup-content form_bg" id="step-1">
          <div class="col-xs-12 padlrnone">
            <h4>Create Rules</h4>
            <div class="BorderBottom"></div>
            <div class="col-md-12 extra_padd">
              <div class="col-md-6 col-sm-12">
                <div class="">
                    <div class="clear30"></div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="col-xs-12 col-sm-10 col-md-10 padln">
                          <input class="inputstyle" type="text" placeholder="Lower Limit : 0"> 
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="col-xs-12 col-sm-10 col-md-10 padln">
                          <input class="inputstyle" type="text" placeholder="Upper Limit : 1000000000"> 
                    </div>
                  </div>
                  <div class="clear30"></div>
                  <div class="clear30"></div>
                  <div class="col-xs-12 col-sm-4 col-md-3 padrn">
                      <label>Select Groups :</label>
                  </div>
                  <div  class="col-xs-3 col-sm-3 col-md-3 padln">
                      <div id="firstgrp" class="input-group-btn search-panel">
                          <button type="button" class="btn btn-default dropdown-toggle btn_width groupfont" data-toggle="dropdown">
                              <span id="search_concept" class="mrgnrten">Group A</span> <span class="caret custcaret"></span>
                          </button>
                          <ul class="dropdown-menu ulwidth" role="menu">
                              <li class="ulwidth"><a href="#contains">Group A</a></li>
                              <li class="ulwidth"><a href="#contains">Group B</a></li>
                              <li class="ulwidth"><a href="#its_equal">Group C</a></li>
                              <li class="ulwidth"><a href="#greather_than">Group D</a></li>
                             
                          </ul>
                      </div>
                  </div>

                  <div  class="col-xs-2 col-sm-2 col-md-2 ">
                      <div id="andor" class="input-group-btn search-panel">
                          <button type="button" class="btn btn-default dropdown-toggle btn_width groupfont" data-toggle="dropdown">
                              <span id="search_concept" class="mrgnrten">&</span> <span class="caret custcaret"></span>
                          </button>
                          <ul class="dropdown-menu ulwidth" role="menu">
                              <li class="ulwidth"><a href="#contains">&</a></li>
                              <li class="ulwidth"><a href="#contains">OR</a></li>
                          </ul>
                      </div>
                  </div>

                  <div  class="col-xs-3 col-sm-3 col-md-3">
                      <div id="secondgrp" class="input-group-btn search-panel">
                          <button type="button" class="btn btn-default dropdown-toggle btn_width groupfont" data-toggle="dropdown">
                              <span id="search_concept" class="mrgnrten">Group B</span> <span class="caret custcaret"></span>
                          </button>
                          <ul class="dropdown-menu ulwidth" role="menu">
                              <li class="ulwidth"><a href="#contains">Group A</a></li>
                              <li class="ulwidth"><a href="#contains">Group B</a></li>
                              <li class="ulwidth"><a href="#its_equal">Group C</a></li>
                              <li class="ulwidth"><a href="#greather_than">Group D</a></li>
                             
                          </ul>
                      </div>
                  </div>


                 
                  <div class="col-md-12">
                      <div class="form-field col x-50">
                        <button class="btn bg-primary nextBtn nxt2" type="button">Create Rule</button>
                      </div>
                    </div>
                    <div class="clear100"></div>

                </div>
              </div>


           


              <div class="col-md-6 col-sm-6">

              </div>
              
              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>

        <div class="row setup-content cust_width form_bg" id="step-3">
          <div class="col-md-12 text-center ">
            <img src="assets/images/done.png">
            <h4>Group has been sent for approval</h4>
            <h5>You can view the summary and status of the request on the groups page </h5>
            <div class="col-md-12 col-sm-12 top-spac margin20">
              <a routerLink="../caviewgroups" class="btn btn-primary btn-outline  btn-spac2  ">Go to Groups</a>
              <a routerLink="../cadashboard" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES ">Go to Dashboard</a>

            </div>

          </div>
        </div>
      </div>
    </form>
  </section>
</div>