<div class="CardWhitebox CardWhitebox_CS">
    <div class="clear10"></div>
    <h3>Pending Supplier Request</h3>
    <div class="clear10"></div>
    <div class="BorderBottom marginbor"></div>
    <div class="clear"></div>
    <div class="paddingbox paddingbox22">
        <div class="PendingRequest PendingRequest1">
            <h2>10</h2>
        </div>
        <div class="clear"></div>
        <h3>
            <span>Total Pending Request</span>
        </h3>
            
        <div class="BorderBottom marginTB"></div>
        <div class="clear10"></div>
        <div class="col-md-4 col-sm-4 col-xs-4 AColorGreen AColorGreen1 text-center margin20">
          <h3 class="Num">07</h3>
          <div class="clear5"></div>
            <h5>
              <span>Pending Today</span>
          </h5>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 AColorGreen AColorGreen1 text-center margin20 Text_Pad">
          <h3 class="Num">20</h3>
          <h5>
            <span class=""> Pending This Month</span>
        </h5>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 AColorGreen AColorGreen1 text-center margin20">
        <h3 class="Num">5</h3>
        <div class="clear5"></div>
        <h5>
                  <span>Old Requests</span>
      </h5>
      <div class="clear10"></div>
    </div>
  
  