<app-asnav></app-asnav>
<div class="container">
    <div class="row">
        <label class="notlabel">Organisation Details</label>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 pfcard text-center">
            <div class="clear20"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/building.png"> &nbsp; Company Details</h4>
                    <div class="clear20"></div>

                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Company Name :</span>
                        <br>
                        <span class="span_widthn empdetw">Corporate URL :</span>
                        <br>
                        <span class="span_widthn">Company PAN :</span>
                        <br>
                        <span class="span_widthn">Corporate GSTIN :</span>
                        <br>
                        <span class="span_widthn">Convenience Fee :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="bold_spann">SAMPLE ORGANISATION</span>
                        <br>
                        <span class="bold_spann"> www.sample.com</span>
                        <br>
                        <span class="bold_spann"> XVB6558BN</span>
                        <br>
                        <span class="bold_spann"> HH786875HH545</span>
                        <br>
                        <span class="bold_spann"> 1%</span>
                        <br>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/placeholder.png" /> &nbsp; Company Contact Details
                    </h4>
                    <div class="clear20"></div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Contact Number :</span>
                        <br>
                        <span class="span_widthn empdetw">Address :</span>
                        <br>
                        <span class="span_widthn">City :</span>
                        <br>
                        <span class="span_widthn">State :</span>
                        <br>
                        <span class="span_widthn">Pin Code :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="bold_spann">020 45454545 </span>
                        <br>
                        <span class="bold_spann">Tech Enclave,MG Road</span>
                        <br>
                        <span class="bold_spann"> Pune</span>
                        <br>
                        <span class="bold_spann"> Maharashtra</span>
                        <br>
                        <span class="bold_spann">411051</span>
                        <br>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/pfuser.png" /> &nbsp; Contact Person Details
                    </h4>
                    <div class="clear20"></div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Name :</span>
                        <br>
                        <span class="span_widthn empdetw">Email :</span>
                        <br>
                        <span class="span_widthn">Mobile No :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="bold_spann">John Smith</span>
                        <br>
                        <span class="bold_spann">John@xyz.com</span>
                        <br>
                        <span class="bold_spann">979297099</span>
                        <br>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="col-md-12 col-sm-12 text-left">
                    <a class="btn btn-primary btn-outline btnwdauto ResponsiveBtnWidth">Reject</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <button class="btn bg-primary btnwdauto mrtfi nextBtn borderradius  btnwdauto ruleNextBtn mrg0Auto nxtbbgcolor"
                        type="button">Approve</button>
                </div>
            </div>
        </div>


    </div>



</div>