<div class="container ">
	<div class="clearfix"></div>
	<div id="rulevalid" class="row mrg-none mainContainBox mrg-t30 mrg-b30">
		<div class="col-xs-12">
			<h3 class="Mheading">Rule Validator</h3>
		</div>
		<div class="BorderBottom col-xs-12 pdg-none"></div>
		<div class="clear20"></div>
		<div class="clear20"></div>
		<div class="clear20"></div>
		<div class="col-xs-12 col-md-4"></div>
		<div class="col-xs-12 col-md-4 mrg0Auto text-center">
			<p class="ruleHead">Enter the Amount</p>
			<div id="selectAuto" class="col-xs-12 text-center">

				<span class="datalist-arrow">
					<input id="cbxCities" class="jqx-combobox-input" list="browsers" name="browsers" placeholder="Enter the amount or select the range">
					<datalist id="browsers">
						<option value="Internet Explorer">
							<option value="Firefox">
								<option value="Chrome">
									<option value="Opera">
										<option value="Safari">
					</datalist>
				</span>
				<span class="ComboError">This amount does not belong to this organisation
					<i class="fa fa-exclamation-circle ComboErrorImg"></i>
				</span>

			</div>
		</div>
		<div class="col-xs-12 col-md-4"></div>
		<div class="col-md-12">
			<div class="form-field col x-50 text-center">
				<button class="btn bg-primary nextBtn nxt2 ruleNextBtn mrg0Auto" type="button">Next</button>
			</div>
		</div>
		<div class="clear20"></div>
		<div class="clear20"></div>
		<div class="clear20"></div>
		<div class="clear20"></div>
		<div class="clear20"></div>
	</div>
	<div class="clearfix"></div>
	<div id="rulevalidlist" class="row mrg-none mainContainBox mrg-t30 mrg-b30">
		<div class="col-xs-12">
			<h3 class="Mheading">List of Rules</h3>
		</div>
		<div class="BorderBottom col-xs-12 pdg-none"></div>
		<div id="listRule" class="col-xs-12 pdg-none MainContainer">
			<div class="col-xs-12 mrg-t30">
				<div class="col-sm-12 col-md-4">
					<p class="amtBox">
						Amount :
						<span> Rs. 1,00,000.00</span>
					</p>
					<div class="BorderBottom col-xs-12 pdg-none"></div>
				</div>
				<div class="col-xs-12 mrg-t30 mrg-b30">
					<button class="btn bg-primary nextBtn nxt2 ruleNextBtn mrg0Auto" type="button">Next</button>
					<a href="#" class="restText">
						<i class="fa fa-repeat refresh"></i>
						<span>Reset</span>
					</a>
				</div>
			</div>
			<div class="table-responsive">

				<table id="fold-table" class="table table-hover fold-table">

					<thead>

						<tr class="cust-color">
							<td></td>
							<td>

								<span class="">Rule category</span> &nbsp;&nbsp;&nbsp;

								<div class="btn-group dropdown">

									<button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

										<span class="sr-only">Toggle Dropdown</span>

									</button>

									<ul class="dropdown-menu dropdown-menu-right dropdown-menu-right1" role="menu">



										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">A & B</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">A & C</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">B & C</div>
											</a>
										</li>

										<li class="divider"></li>



									</ul>

								</div>

							</td>

							<td>

								<span class="">Lower Limit</span> &nbsp;&nbsp;&nbsp;
								<div class="btn-group">

									<button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

										<span class="sr-only">Toggle Dropdown</span>

									</button>

									<ul class="dropdown-menu dropdown-menu-right dropdown-menu-right1" role="menu">

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">0</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">100</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">1000</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">10000</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">20000</div>
											</a>
										</li>

									</ul>

								</div>

							</td>

							<td>

								<span class="">Upper Limit</span> &nbsp;&nbsp;&nbsp;

								<div class="btn-group">

									<button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

										<span class="sr-only">Toggle Dropdown</span>

									</button>

									<ul class="dropdown-menu dropdown-menu-right dropdown-menu-right2" role="menu">

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">100000</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">200000</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">300000</div>
											</a>
										</li>

										<li class="divider"></li>


									</ul>

								</div>

							</td>

							<td>

								<span class="">Status</span> &nbsp;&nbsp;&nbsp;
								<div class="btn-group">

									<button type="button" class="btn dropdown-toggle caret2" data-toggle="dropdown">

										<span class="sr-only">Toggle Dropdown</span>

									</button>

									<ul class="dropdown-menu dropdown-menu-right dropdown-menu-right1" role="menu">

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">All</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">Approved</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">Pending</div>
											</a>
										</li>

										<li class="divider"></li>

										<li>
											<a href="javascript:void(0);">
												<div class="place"></div>
												<div class="txt-div">Rejected</div>
											</a>
										</li>

									</ul>

								</div>

							</td>

							<td></td>

						</tr>

					</thead>

					<tbody>

						<tr class="view grayStrip">
							<td>
								<div class="place"></div>
							</td>
							<td>A & B</td>

							<td>0</td>

							<td>0</td>

							<td>
								<a href="javascript:void(0);" class="btn appoved" role="button">Approved </a>
							</td>

							<td>
								<i class="fa fa-angle-down"></i>
							</td>

						</tr>

						<tr class="fold grayStrip">

							<td colspan="6">
								<div class="foldInner">
									<div class="foldInner1 foldInnerBox">
										<h5>Group A (any 1)</h5>
										<ul>
											<li>Mr. Asheesh Chatterjee</li>
											<li>Mr. Gaurav Dattani</li>
										</ul>
									</div>
									<div class="foldInner2 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Mahesh Agnihotri</li>
											<li>Mrs. Shalaka Pandit</li>
										</ul>
									</div>
									<div class="foldInner3 foldInnerBox">
										<h5>Group B (any 2)</h5>
										<ul>
											<li>Mr. Jayesh Saksena</li>
											<li>Mrs. Swati Malhotra</li>
										</ul>
									</div>
									<div class="foldInner4 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Sam Andrason</li>
											<li>Mr. Abhinav Singh</li>
										</ul>
									</div>
								</div>
							</td>

						</tr>


						<tr class="view whiteStrip">
							<td>
								<div class="place"></div>
							</td>
							<td>A & c</td>

							<td>0</td>

							<td>0</td>

							<td>
								<a href="javascript:void(0);" class="btn Rejected" role="button">Rejected </a>
							</td>

							<td>
								<i class="fa fa-angle-down"></i>
							</td>
						</tr>

						<tr class="row2 fold whiteStrip">

							<td colspan="6">
								<div class="foldInner">
									<div class="foldInner1 foldInnerBox">
										<h5>Group A (any 1)</h5>
										<ul>
											<li>Mr. Asheesh Chatterjee</li>
											<li>Mr. Gaurav Dattani</li>
										</ul>
									</div>
									<div class="foldInner2 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Mahesh Agnihotri</li>
											<li>Mrs. Shalaka Pandit</li>
										</ul>
									</div>
									<div class="foldInner3 foldInnerBox">
										<h5>Group B (any 2)</h5>
										<ul>
											<li>Mr. Jayesh Saksena</li>
											<li>Mrs. Swati Malhotra</li>
										</ul>
									</div>
									<div class="foldInner4 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Sam Andrason</li>
											<li>Mr. Abhinav Singh</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>

						<tr class="view grayStrip">
							<td>
								<div class="place"></div>
							</td>
							<td>B & c</td>

							<td>0</td>

							<td>0</td>

							<td>
								<a href="javascript:void(0);" class="btn appoved" role="button">Approved </a>
							</td>

							<td>
								<i class="fa fa-angle-down"></i>
							</td>

						</tr>

						<tr class="row3 fold grayStrip">

							<td colspan="6">
								<div class="foldInner">
									<div class="foldInner1 foldInnerBox">
										<h5>Group A (any 1)</h5>
										<ul>
											<li>Mr. Asheesh Chatterjee</li>
											<li>Mr. Gaurav Dattani</li>
										</ul>
									</div>
									<div class="foldInner2 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Mahesh Agnihotri</li>
											<li>Mrs. Shalaka Pandit</li>
										</ul>
									</div>
									<div class="foldInner3 foldInnerBox">
										<h5>Group B (any 2)</h5>
										<ul>
											<li>Mr. Jayesh Saksena</li>
											<li>Mrs. Swati Malhotra</li>
										</ul>
									</div>
									<div class="foldInner4 foldInnerBox">
										<div class="clear20"></div>
										<ul>
											<li>Mr. Sam Andrason</li>
											<li>Mr. Abhinav Singh</li>
										</ul>
									</div>
								</div>
							</td>

						</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>
</div>