
.noborder3 {
    border: none;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    padding-left: 0px
}
input.form-control.noborder3::placeholder {
    color: #333333;
    opacity: 1;
    font-weight: 600;
}

input.form-control.noborder3:-ms-input-placeholder {
    color: #333333;
    opacity: 1;
    font-weight: 600;
}

input.form-control.noborder3::-ms-input-placeholder {
    color: #333333;
    opacity: 1;
    font-weight: 600;
}

.clear5 {
    clear: both;
    height: 7px;
}


.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    margin: 0 3px;
    padding: 5px 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #938989;
    background-color: #fff0;
    border: 1px solid #ddd0;
    
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    width: 16px;
    height: 16px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 5px;
    margin-right: 6px;
    vertical-align: sub;
    outline: none
    
}
input[type="checkbox"]:hover, input[type="checkbox"]:checked {
    background: #64289d;
}