<div class="container-fluid">
    <div class="row">
        <div class="clear20"></div>
        <div class="clear20"></div>
        <div class="clear10"></div>
        <div class="clear10"></div>
        <div id="London" class="">
            <div class="container">
                <div class="maindiv">
                    <div class="width">
                        <div class="col-sm-12 card-1">
                            <img src="assets/images/mainuser.png" />
                            <div class="clear10"></div>
                            <a routerLink="./asnav">
                                <h4>Authorized Signatory</h4>
                            </a>
                            <div class="clear10"></div>
                        </div>
                    </div>
                    <div class="width">
                        <div class="col-sm-12 card-2">
                            <img src="assets/images/mainuser.png" />
                            <div class="clear10"></div>
                            <h4>Corporate Admin</h4>
                            <div class="clear10"></div>
                        </div>
                    </div>
                    <div class="width">
                        <div class="col-sm-12  card-3">
                            <img src="assets/images/mainuser.png" />
                            <div class="clear10"></div>
                            <h4>Checker</h4>
                            <div class="clear20"></div>
                            <div class="clear10"></div>
                        </div>
                    </div>
                    <div class="width">
                        <div class="col-sm-12  card-3">
                            <img src="assets/images/mainuser.png" />
                            <div class="clear10"></div>
                            <a routerLink="./dashboard">
                                <h4>Maker</h4>
                            </a>
                            <div class="clear20"></div>
                            <div class="clear10"></div>
                        </div>
                    </div>
                    <div class="width">
                        <div class="col-sm-12  card-3">
                            <img src="assets/images/mainuser.png" />
                            <div class="clear10"></div>
                            <h4>Relationship Manager</h4>
                            <div class="clear10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>