<app-makernavigation></app-makernavigation>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<div class="container ">
  <section class="content ">
      <div class="col-md-2 col-sm-2 top_back no-show2">
          <h5 class="blu-color">
            <a routerLink="../addunitarysupplier"  class="backBtn">
              <img src="assets/images/left-arrow.png"> Back </a>
          </h5>
        </div>

        <div class="col-md-10 col-sm-9">
            <div class="stepwizard ">
              <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                  <a type="button" class="btn bg-primary btn-circle " id="first">
                    <img class="img-responsive tick" src="assets/images/tick.png">
                  </a>
                  <h6 class="blu-color" id="p1">Successfully registered</h6>
                </div>
                <div class="stepwizard-step">
                  <a type="button" class="btn bg-default btn-circle " id="second">
                    <img class="img-responsive tick" src="assets/images/tick.png">
                  </a>
                  <!-- <h6 id="p2">Review Details</h6> -->
                </div>
      
              </div>
            </div>
          </div>
<div class="col-md-12 text-center ">
  <img src="assets/images/done.png">
  <h4>Supplier has been successfully added and sent for approval</h4>
  <h5>You can view the summary and status of the request on the supplier page</h5>
  <div class="col-md-12 col-sm-12 top-spac margin20">
    <a routerLink="../supplierlist" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES">Go to Supplier</a>
    <a routerLink="../dashboard" class="btn btn-primary btn-outline Btn_Width2">Go to Dashboard</a>

  </div>
  </div>
  </section>
  </div>