<app-checkernavigation></app-checkernavigation>
<div class="container">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <!--row -->
                <app-chhome></app-chhome>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <app-chcardslider></app-chcardslider>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <app-chpaystatus></app-chpaystatus>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <app-chsuprequest></app-chsuprequest>
                </div>
                <div class="clear"></div>
                <!-- bar chart content -->
                <div class="col-md-6">
                    <app-toppayment></app-toppayment>
                </div>
                <!-- bar chart content end-->
                <!-- pie chart content -->
                <div class="col-md-6 ">
                    <app-ascardactivity></app-ascardactivity>
                </div>
                <!-- pie chart content end-->
            </div>
            <!-- /.row -->
            <!-- second row -->

            <div class="row">

                <div class="col-md-12">
                    <app-chlastpayment></app-chlastpayment>
                </div>
            </div>
        </section>
    </div>
</div>