<app-asnav></app-asnav>
<div class="container">
    <div class="col-md-12">
        <div class="stepwizard ">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn bg-primary radiomrgnl btn-circle" id="first">
                        <img class="img-responsive tick" src="assets/images/tick.png">
                    </a>
                    <h6 class="blu-color" id="p1">Review Cards</h6>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn bg-primary radiomrgnr btn-circle" id="second">
                        <img class="img-responsive tick2" src="assets/images/tick.png">
                    </a>
                    <h6 id="p2">Mobile Verification</h6>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="clear20"></div>
        <div class="clear20"></div>
    </div>
    <div class="row">
        <div class="row setup-content cust_width form_bg" id="step-7">
            <div class="col-md-12 text-center ">
                <img src="assets/images/done.png">
                <div class="clearfix"></div>
                <div class="clear20"></div>
                <label class="successhedtxt">Cards has been successfully approved</label>
                <div class="clear20"></div>
                <label class="smrinstatustxt">You can view the summary and status of payment request on the card page </label>
                <div class="col-md-12 col-sm-12 top-spac margin20">
                    <a routerLink="../ascards" class="btn btn-primary btn-outline btn-spac btn-spac2 Btn_Width2 margbtnRES">Go to Cards</a>
                    <a href="" class="btn btn-primary btn-outline Btn_Width2">Go to Dashboard</a>
                </div>

            </div>
        </div>
    </div>

</div>