<app-asnav></app-asnav>
<div class="container">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <!--row -->
                <app-ashome></app-ashome>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <app-ascardslider></app-ascardslider>
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-xs-12">
                    <app-astopcardactivity></app-astopcardactivity>
                </div> -->
               
                <div class="clear"></div>
                <!-- bar chart content -->
                <div class="col-md-6">
                    <app-toppayment></app-toppayment>
                </div>
                <!-- bar chart content end-->
                <!-- pie chart content -->
                <div class="col-md-6 ">
                    <app-ascardactivity></app-ascardactivity>
                </div>
                <!-- pie chart content end-->
            </div>
            <!-- /.row -->
            <!-- second row -->

            <div class="row">

                <div class="col-md-12">
                    <app-aslastpayment></app-aslastpayment>
                </div>
            </div>
        </section>
    </div>
</div>