<div class="clear20">
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <div class="paycard shad" id="card" data-toggle="tab" href="#menu">
                    <div class="innercard addborder">
                        <img class="cardimg" src="assets/images/paycard.png">
                        <div class="clear10"></div>
                        <p class="smallfont">4698 XXXX XXXX 4698</p>
                    </div>
                </div>
                <div class="paycard" id="cardone" data-toggle="tab" href="#menu1">
                    <div class="innercard">
                        <img class="cardimg" src="assets/images/precard.png">
                        <div class="clear10"></div>
                        <p class="smallfont">4698 XXXX XXXX 4698</p>
                    </div>
                </div>
                <div class="paycard " id="cardtwo" data-toggle="tab" href="#menu2">
                    <div class="innercard">
                        <img class="cardimg" src="assets/images/precard.png">
                        <div class="clear10"></div>
                        <p class="smallfont">4698 XXXX XXXX 4698</p>
                    </div>
                </div>
                <div class="paycard" id="cardthree" data-toggle="tab" href="#menu3">
                    <div class="innercard">
                        <img class="cardimg" src="assets/images/precard.png">
                        <div class="clear10"></div>
                        <p class="smallfont">4698 XXXX XXXX 4698</p>
                    </div>
                </div>
                <div class="paycard " id="cardfour" data-toggle="tab" href="#menu4">
                    <div class="innercard">
                        <img class="cardimg" src="assets/images/precard.png">
                        <div class="clear10"></div>
                        <p class="smallfont">4698 XXXX XXXX 4698</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="BorderBottom"></div>
<div class="clear20"></div>
<div class="col-md-offset-1 col-md-10">
    <div class="row">
        <div class="tab-content">
            <div id="menu" class="tab-pane fade in active">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                            <h3 class="uk-card-title">Nick Name</h3>
                            <h1>8462 4692 4941 2294</h1>
                            <p class="textsmall">
                                VALID

                            </p>
                            <p class="textsmall textsmall1">
                                UP TO 09/28

                            </p>
                            <div class="clear10"></div>
                            <p class="textsmall3 textsmall1">Credit Limit</p>
                            <div class="clear10"></div>
                            <div class="col-sm-12 padnone">

                                <!-- example starts here -->

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>1.7Cr</span>
                                        <span class="rightBarText">2Cr</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 padlft">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <h4>Payment Details </h4>
                        <div class="clear20"></div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Total Amount :</span>
                            <span class="fntwt">Rs. 1,30,000.00</span>
                            <br>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Number of Payments :</span>
                            <span class="fntwt">3</span>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Amount Payable :</span>
                            <span class="fntwt">Rs. 50,000.00</span>
                        </div>
                        <div class="form-field col x-50">
                            <button class="btn bg-primary finalpay nxt2" type="button">Send for approval</button>
                        </div>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                            <h3 class="uk-card-title">Nick Name</h3>
                            <h1>8462 4692 4941 2294</h1>
                            <p class="textsmall">
                                VALID

                            </p>
                            <p class="textsmall textsmall1">
                                UP TO 09/28

                            </p>
                            <div class="clear10"></div>
                            <p class="textsmall3 textsmall1">Credit Limit</p>
                            <div class="clear10"></div>
                            <div class="col-sm-12 padnone">

                                <!-- example starts here -->

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>1.7Cr</span>
                                        <span class="rightBarText">2Cr</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 padlft">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <h4>Payment Details </h4>
                        <div class="clear20"></div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Total Amount :</span>
                            <span class="fntwt">Rs. 1,30,000.00</span>
                            <br>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Number of Payments :</span>
                            <span class="fntwt">3</span>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Amount Payable :</span>
                            <span class="fntwt">Rs. 50,000.00</span>
                        </div>
                        <div class="form-field col x-50">
                            <button class="btn bg-primary finalpay  nxt2" type="button">Send for approval</button>
                        </div>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                            <h3 class="uk-card-title">Nick Name</h3>
                            <h1>8462 4692 4941 2294</h1>
                            <p class="textsmall">
                                VALID

                            </p>
                            <p class="textsmall textsmall1">
                                UP TO 09/28

                            </p>
                            <div class="clear10"></div>
                            <p class="textsmall3 textsmall1">Credit Limit</p>
                            <div class="clear10"></div>
                            <div class="col-sm-12 padnone">

                                <!-- example starts here -->

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>1.7Cr</span>
                                        <span class="rightBarText">2Cr</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 padlft">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <h4>Payment Details </h4>
                        <div class="clear20"></div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Total Amount :</span>
                            <span class="fntwt">Rs. 1,30,000.00</span>
                            <br>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Number of Payments :</span>
                            <span class="fntwt">3</span>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Amount Payable :</span>
                            <span class="fntwt">Rs. 50,000.00</span>
                        </div>
                        <div class="form-field col x-50">
                            <button class="btn bg-primary finalpay  nxt2" type="button">Send for approval</button>
                        </div>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                            <h3 class="uk-card-title">Nick Name</h3>
                            <h1>8462 4692 4941 2294</h1>
                            <p class="textsmall">
                                VALID

                            </p>
                            <p class="textsmall textsmall1">
                                UP TO 09/28

                            </p>
                            <div class="clear10"></div>
                            <p class="textsmall3 textsmall1">Credit Limit</p>
                            <div class="clear10"></div>
                            <div class="col-sm-12 padnone">

                                <!-- example starts here -->

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>1.7Cr</span>
                                        <span class="rightBarText">2Cr</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 padlft">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <h4>Payment Details </h4>
                        <div class="clear20"></div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Total Amount :</span>
                            <span class="fntwt">Rs. 1,30,000.00</span>
                            <br>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Number of Payments :</span>
                            <span class="fntwt">3</span>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Amount Payable :</span>
                            <span class="fntwt">Rs. 50,000.00</span>
                        </div>
                        <div class="form-field col x-50">
                            <button class="btn bg-primary finalpay  nxt2" type="button">Send for approval</button>
                        </div>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
            </div>
            <div id="menu4" class="tab-pane fade">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light fontsize">
                            <h3 class="uk-card-title">Nick Name</h3>
                            <h1>8462 4692 4941 2294</h1>
                            <p class="textsmall">
                                VALID

                            </p>
                            <p class="textsmall textsmall1">
                                UP TO 09/28

                            </p>
                            <div class="clear10"></div>
                            <p class="textsmall3 textsmall1">Credit Limit</p>
                            <div class="clear10"></div>
                            <div class="col-sm-12 padnone">

                                <!-- example starts here -->

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span>1.7Cr</span>
                                        <span class="rightBarText">2Cr</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 padlft">
                        <div class="clear20"></div>
                        <div class="clear20"></div>
                        <h4>Payment Details </h4>
                        <div class="clear20"></div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Total Amount :</span>
                            <span class="fntwt">Rs. 1,30,000.00</span>
                            <br>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Number of Payments :</span>
                            <span class="fntwt">3</span>
                        </div>
                        <div class="col x-50 margbot">
                            <span class="span_widthn">Amount Payable :</span>
                            <span class="fntwt">Rs. 50,000.00</span>
                        </div>
                        <div class="form-field col x-50">
                            <button class="btn bg-primary finalpay nxt2" type="button">Send for approval</button>
                        </div>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
            </div>
        </div>
    </div>
</div>