<app-canavigation></app-canavigation>
<div class="container">
    <div class="row ">
        <label class="notlabel">Organisation Details</label>
    </div>
    <div class="row abc">
        <div class="col-md-12 col-sm-12 pfcard text-center" >
            <div class="clear20"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/building.png"> &nbsp; Company Details</h4>
                    <div class="clear20"></div>

                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Company Name :</span>
                        <br>
                        <span class="span_widthn empdetw">Corporate URL :</span>
                        <br>
                        <span class="span_widthn">Company PAN :</span>
                        <br>
                        <span class="span_widthn">Corporate GSTIN :</span>
                        <br>
                        <span class="span_widthn">Convenience Fee :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty" >
                        <span class="bold_spann" style="width:600px">{{organisation.companyname}}</span>
                        <br>
                        <span class="bold_spann"> {{organisation.domain}}</span>
                        <br>
                        <span class="bold_spann">  {{organisation.pan}}</span>
                        <br>
                        <span class="bold_spann"> {{organisation.corpgstin}}</span>
                        <br>
                        <span class="bold_spann">{{organisation.convfee}}%</span>
                        <br>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/placeholder.png" /> &nbsp; Company Contact Details
                    </h4>
                    <div class="clear20"></div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Contact Number :</span>
                        <br>
                        <span class="span_widthn empdetw">Address :</span>
                        <br>
                        <span class="span_widthn">City :</span>
                        <br>
                        <span class="span_widthn">State :</span>
                        <br>
                        <span class="span_widthn">Pin Code :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="bold_spann">{{organisation.Contact}} </span>
                        <br>
                        <span class="bold_spann">{{organisation.address}}</span>
                        <br>
                        <span class="bold_spann"> {{organisation.city}}</span>
                        <br>
                        <span class="bold_spann"> {{organisation.state}}</span>
                        <br>
                        <span class="bold_spann">{{organisation.pincode}}</span>
                        <br>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4 col-sm-6 text-left magttwenty">
                    <h4>
                        <img src="assets/images/pfuser.png" /> &nbsp; Contact Person Details
                    </h4>
                    <div class="clear20"></div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="span_widthn">Name :</span>
                        <br>
                        <span class="span_widthn empdetw">Email :</span>
                        <br>
                        <span class="span_widthn">Mobile No :</span>
                        <br>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 text-left nopad magttwenty">
                        <span class="bold_spann">{{organisation.cpname}}</span>
                        <br>
                        <span class="bold_spann">{{organisation.cpemail}}</span>
                        <br>
                        <span class="bold_spann">{{organisation.cpemail}}</span>
                        <br>
                    </div>
                </div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="clear20"></div>
                <div class="col-md-12 col-sm-12 text-left">
                    <a class="btn btn-primary btn-outline btnwdauto ResponsiveBtnWidth activeapp"> <img src="assets/images/filledit.png">  Edit</a>
                  
                </div>
            </div>
        </div>


    </div>

    <div class="success">
      <app-caorganisation2></app-caorganisation2>
    </div>

</div>